@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|tree {
	border: 1px solid $(color:threedshadow);
}
ui|toolbarbody.max {
	overflow: hidden;
	#moz padding-right: 6px;
}
ui|datainput#treeselectionresult {
	width: 100%;
	position: relative;
	left: -1px;
}
/*
ui|dialogtoolbar {
	overflow: hidden;
	height: 51px; /* explorerness */
}
*/
ui|pagebody {
	position: relative;	/* contain the cover */
}
ui|datainput#treeselectionresult input {
	padding-top: 6px;
	#moz padding-top: 0;
	padding-left: 8px;
	width: 100%;
	height: 30px;
	#moz height: 29px;
}
ui|datainput#treeselectionresult ui|box {
	height: 32px;
	#moz height: 31px;
}