@namespace ui url("http://www.w3.org/1999/xhtml");

ui|datainput#treeselectionresult {
	opacity: 1;
}

ui|datainput#treeselectionresult ui|box {
	border: none;
	background: none;
}

ui|datainput#treeselectionresult ui|box input {
	text-align: center;
	background: none;
	color: #343434;
	padding: 10px 0 0 0 !important;
	font-size: 12px;
	width: 100%;
	text-align: left;
}
#addressbar input {
	width: 100%;
	height: 100%;
	padding-top: 2px;
	padding-left: 5px;
	background-color: #fff;
}
ui|datainput#addressbar ui|box,
ui|datainput#addressbar ui|toolbarbutton {
	background-color: #fff;
}