@import url("system/menus.css");
@import url("system/toolbars.css");
@import url("system/buttons.css");
@import url("system/controls.css");
@import url("system/tabboxes.css");
@import url("system/titlebars.css");
@import url("system/trees.css");
@import url("system/explorer.css");
@import url("system/dialogs.css");
@import url("system/dialogpages.css");
@import url("system/fields.css");
@import url("system/imageeditor.css");
@import url("system/splash.css");
@import url("system/balloons.css");
