@namespace ui url("http://www.w3.org/1999/xhtml");

#region vista
ui|menubar {
background: url("${skin}/menus/vistabackdrop.png") $(color:threedface) repeat-x 0 50% !important;
}
#endregion
@namespace ui url("http://www.w3.org/1999/xhtml");

/* HOVER */
ui|toolbarbutton {
border: 1px solid transparent;
}

ui|toolbarbutton.hover {
border: 1px solid #9398A5;
border-radius: 4px;
box-shadow: inset 0px 0px 0px 1px #F3F3F3;
}

/* ACTIVE */

ui|toolbarbutton.active {
border: 1px solid #9398A5;
border-radius: 4px;
box-shadow: inset 1px 1px 1px 0px rgba(0,0,0,0.75);
}
@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");


/* FOCUS */

ui|clickbutton.focused ui|labelbox,
ui|clickbutton.default ui|labelbox {
border-color: #3C7FB1;
box-shadow: inset 0px 0px 0px 1px #3AD6FD;
}

/* ACTIVE */

ui|clickbutton.active ui|labelbox {
#ie background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UyZTJlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2NlY2VjZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(230,230,230,1) 50%,rgba(206,206,206,1) 50%,rgba(221,221,221,1) 100%); /* W3C */
box-shadow: none;
}

/* DEFAULT and DISABLED */

ui|clickbutton ui|labelbox,
ui|clickbutton.isdisabled ui|labelbox {
#ie background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNDklIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuOTgiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZDZkNmQ2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.5) 49%,rgba(214,214,214,1) 50%,rgba(247,247,247,1) 100%); /* W3C */
border: 1px solid #707070;
border-radius: 4px;
box-shadow: inset 0px 0px 0px 1px #F3F3F3;
}

/* HOVER */

ui|clickbutton.hover ui|labelbox {
border: 1px solid #3C7FB1;
box-shadow: inset 0px 0px 0px 1px #3AD6FD;
}

/* TOOLBAR CLICKBUTTONS ..............................................*/
ui|toolbar ui|clickbutton ui|labelbox,
ui|toolbar ui|clickbutton.isdisabled ui|labelbox {
#ie background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2VjZWNlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: linear-gradient(to bottom, rgba(249,249,249,1) 0%,rgba(251,251,251,1) 50%,rgba(236,236,236,1) 50%,rgba(246,246,246,1) 80%,rgba(238,238,238,1) 100%); /* W3C */
border: 1px solid #CECFC4;
border-radius: 3px;
box-shadow: inset -1px -1px 1px 0px #CECFC4;
}

ui|toolbar ui|clickbutton.active ui|labelbox {
border: 1px solid #707070;
}
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|controlgroup {}

ui|control {
margin-left: 2px;
background-color: transparent;
}
#region vista
ui|control.dialogcontrol ui|labelbody { /* elongated vista controls */
padding-left: 29px;
}
ui|toolbarbutton.dialogcontrol ui|labelbody { /* elongated vista controls */
padding-left: 29px;
}
#endregion 
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|tabbox.boxed {
#moz border-bottom: 4px solid transparent;
#ie border-bottom: 4px solid $(color:threedface);
}

ui|tabs {	
padding-left: 3px;
}
ui|tabbox.boxed ui|tabs {	
padding-left: 0;
}
ui|tabs div.tabliner {
background-color: #FFFFFF;
background-color: #F6F6F2;
border-top: 1px solid #B5B5B5;
border-bottom: 1px solid #B5B5B5;
z-index: 2;
}
ui|tabbox.boxed ui|tabs div.tabliner {
border: 1px solid #B5B5B5;
background-color: #FFFFFF;
border-bottom: none;
}
ui|tab {
padding: 0;
margin-right: -1px;
z-index: 1;
color: black; /* should not default to system color because of tab graphics */
}
ui|tab ui|labelbox {
padding: 1px 5px 0 1px; /* how did this get unbalanced? */
}
ui|tabbox.boxed ui|tabpanels {
background-repeat: repeat-x;
background-color: #F4F3EE;
border: 1px solid #B5B5B5;
border-top: none;
padding: 12px;
padding-bottom: 16px;
background-image: url("${skin}/tabboxes/boxedpanelbackdrop.png");
}

/* TAB GRAPHICS .................................................................. */

/* tabs on top */

ui|tabbox.tabsontop ui|tab {
margin-top: 3px;
}
ui|tabbox.tabsontop ui|tab.selected {
margin-top: 1px;
z-index: 3;
}
#region default
ui|tabbox.tabsontop ui|tab table.matrix td.c,
ui|tabbox.tabsontop ui|tab table.matrix td.s {
background-color: #F6F6F2;
}
ui|tabbox.tabsontop ui|tab.selected table.matrix td.c,
ui|tabbox.tabsontop ui|tab.selected table.matrix td.s {
background-color: #FFFFFF;
}
ui|tabbox.tabsontop ui|tab table.matrix td.n {
#alphabackdrop: url("${skin}/tabboxes/tab-n.png");
}
ui|tabbox.tabsontop ui|tab table.matrix td.ne {
#alphabackdrop: url("${skin}/tabboxes/tab-ne.png");
}
ui|tabbox.tabsontop ui|tab table.matrix td.nw {
#alphabackdrop: url("${skin}/tabboxes/tab-nw.png");
}
ui|tabbox.tabsontop ui|tab table.matrix td.e, 
ui|tabbox.tabsontop ui|tab table.matrix td.se {
#alphabackdrop: url("${skin}/tabboxes/tab-e.png");
}
ui|tabbox.tabsontop ui|tab table.matrix td.w, 
ui|tabbox.tabsontop ui|tab table.matrix td.sw {
#alphabackdrop: url("${skin}/tabboxes/tab-w.png");
}
ui|tabbox.tabsontop ui|tab.hover table.matrix td.n,
ui|tabbox.tabsontop ui|tab.selected table.matrix td.n  {
#alphabackdrop: url("${skin}/tabboxes/tab-on-n.png");
}
ui|tabbox.tabsontop ui|tab.selected table.matrix td.e,
ui|tabbox.tabsontop ui|tab.selected table.matrix td.se {
#alphabackdrop: url("${skin}/tabboxes/tab-on-e.png");
}
ui|tabbox.tabsontop ui|tab.selected table.matrix td.w,
ui|tabbox.tabsontop ui|tab.selected table.matrix td.sw {
#alphabackdrop: url("${skin}/tabboxes/tab-on-w.png");
}
ui|tabbox.tabsontop ui|tab.hover table.matrix td.ne,
ui|tabbox.tabsontop ui|tab.selected table.matrix td.ne {
#alphabackdrop: url("${skin}/tabboxes/tab-on-ne.png");
}
ui|tabbox.tabsontop ui|tab.hover table.matrix td.nw,
ui|tabbox.tabsontop ui|tab.selected table.matrix td.nw {
#alphabackdrop: url("${skin}/tabboxes/tab-on-nw.png");
}
#endregion

/*
#region osx
ui|tabbox.tabsontop ui|tab table.matrix td.c,
ui|tabbox.tabsontop ui|tab table.matrix td.s {
background-color: #F6F6F2;
}
ui|tabbox.tabsontop ui|tab.selected table.matrix td.c,
ui|tabbox.tabsontop ui|tab.selected table.matrix td.s {
background-color: #FFFFFF;
}
ui|tabbox.tabsontop ui|tab table.matrix td.n {
#alphabackdrop: url("${skin}/tabboxes/tab-n.png");
}
ui|tabbox.tabsontop ui|tab table.matrix td.ne {
#alphabackdrop: url("${skin}/tabboxes/tab-ne.png");
}
ui|tabbox.tabsontop ui|tab table.matrix td.nw {
#alphabackdrop: url("${skin}/tabboxes/tab-nw.png");
}
ui|tabbox.tabsontop ui|tab table.matrix td.e, 
ui|tabbox.tabsontop ui|tab table.matrix td.se {
#alphabackdrop: url("${skin}/tabboxes/tab-e.png");
}
ui|tabbox.tabsontop ui|tab table.matrix td.w, 
ui|tabbox.tabsontop ui|tab table.matrix td.sw {
#alphabackdrop: url("${skin}/tabboxes/tab-w.png");
}
ui|tabbox.tabsontop ui|tab.hover table.matrix td.n,
ui|tabbox.tabsontop ui|tab.selected table.matrix td.n  {
#alphabackdrop: url("${skin}/tabboxes/tab-on-n.png");
}
ui|tabbox.tabsontop ui|tab.selected table.matrix td.e,
ui|tabbox.tabsontop ui|tab.selected table.matrix td.se {
#alphabackdrop: url("${skin}/tabboxes/tab-on-e.png");
}
ui|tabbox.tabsontop ui|tab.selected table.matrix td.w,
ui|tabbox.tabsontop ui|tab.selected table.matrix td.sw {
#alphabackdrop: url("${skin}/tabboxes/tab-on-w.png");
}
ui|tabbox.tabsontop ui|tab.hover table.matrix td.ne,
ui|tabbox.tabsontop ui|tab.selected table.matrix td.ne {
#alphabackdrop: url("${skin}/tabboxes/tab-on-ne.png");
}
ui|tabbox.tabsontop ui|tab.hover table.matrix td.nw,
ui|tabbox.tabsontop ui|tab.selected table.matrix td.nw {
#alphabackdrop: url("${skin}/tabboxes/tab-on-nw.png");
}
#endregion
*/

#region osx
ui|tabbox.tabsontop ui|tab {
filter: url("${root}/templates/grayscalefilter.xml#grayscale");	
}
#endregion

ui|tabbox.tabsontop ui|tab table.matrix td.c {
#alphabackdrop: url("${skin}/tabboxes/vista/tab-c.png");
}
ui|tabbox.tabsontop ui|tab table.matrix td.n {
#alphabackdrop: url("${skin}/tabboxes/vista/tab-n.png");
}
ui|tabbox.tabsontop ui|tab table.matrix td.s {
#alphabackdrop: url("${skin}/tabboxes/vista/tab-s.png");
}
ui|tabbox.tabsontop ui|tab table.matrix td.ne {
#alphabackdrop: url("${skin}/tabboxes/vista/tab-ne.png");
}
ui|tabbox.tabsontop ui|tab table.matrix td.nw {
#alphabackdrop: url("${skin}/tabboxes/vista/tab-nw.png");
}
ui|tabbox.tabsontop ui|tab table.matrix td.e {
#alphabackdrop: url("${skin}/tabboxes/vista/tab-e.png");
}
ui|tabbox.tabsontop ui|tab table.matrix td.se {
#alphabackdrop: url("${skin}/tabboxes/vista/tab-se.png");
}
ui|tabbox.tabsontop ui|tab table.matrix td.w {
#alphabackdrop: url("${skin}/tabboxes/vista/tab-w.png");
}
ui|tabbox.tabsontop ui|tab table.matrix td.sw {
#alphabackdrop: url("${skin}/tabboxes/vista/tab-sw.png");
}


ui|tabbox.tabsontop ui|tab.selected table.matrix td.c,
ui|tabbox.tabsontop ui|tab.selected table.matrix td.s {
background-color: white;
background-image: none !important;
_filter: none;
}
ui|tabbox.tabsontop ui|tab.selected table.matrix td.n {
#alphabackdrop: url("${skin}/tabboxes/vista/tab-active-n.png");
}
ui|tabbox.tabsontop ui|tab.selected table.matrix td.ne {
#alphabackdrop: url("${skin}/tabboxes/vista/tab-active-ne.png");
}
ui|tabbox.tabsontop ui|tab.selected table.matrix td.nw {
#alphabackdrop: url("${skin}/tabboxes/vista/tab-active-nw.png");
}
ui|tabbox.tabsontop ui|tab.selected table.matrix td.e,
ui|tabbox.tabsontop ui|tab.selected table.matrix td.se {
#alphabackdrop: url("${skin}/tabboxes/vista/tab-active-e.png");
}
ui|tabbox.tabsontop ui|tab.selected table.matrix td.w,
ui|tabbox.tabsontop ui|tab.selected table.matrix td.sw {
#alphabackdrop: url("${skin}/tabboxes/vista/tab-active-w.png");
}


ui|tabbox.tabsontop ui|tab.hover table.matrix td.c {
#alphabackdrop: url("${skin}/tabboxes/vista/tab-hover-c.png");
}
ui|tabbox.tabsontop ui|tab.hover table.matrix td.n {
#alphabackdrop: url("${skin}/tabboxes/vista/tab-hover-n.png");
}
ui|tabbox.tabsontop ui|tab.hover table.matrix td.ne {
#alphabackdrop: url("${skin}/tabboxes/vista/tab-hover-ne.png");
}
ui|tabbox.tabsontop ui|tab.hover table.matrix td.nw {
#alphabackdrop: url("${skin}/tabboxes/vista/tab-hover-nw.png");
}
ui|tabbox.tabsontop ui|tab.hover table.matrix td.e {
#alphabackdrop: url("${skin}/tabboxes/vista/tab-hover-e.png");
}
ui|tabbox.tabsontop ui|tab.hover table.matrix td.w {
#alphabackdrop: url("${skin}/tabboxes/vista/tab-hover-w.png");
}
ui|tabbox.tabsontop ui|tab.hover table.matrix td.se {
#alphabackdrop: url("${skin}/tabboxes/vista/tab-hover-se.png");
}
ui|tabbox.tabsontop ui|tab.hover table.matrix td.sw {
#alphabackdrop: url("${skin}/tabboxes/vista/tab-hover-sw.png");
}
ui|tabbox.tabsontop ui|tab.hover table.matrix td.s {
background-color: #A7D9F5;
background-image: none !important;
_filter: none;
}


/* tabs below NOT USED! */

ui|tabbox.tabsbelow ui|tab {
margin-top: 0;
margin-bottom: 20px;
}
ui|tabbox.tabsbelow ui|tab.selected {
margin-top: 2px;
z-index: 3;
}
ui|tabbox.tabsbelow ui|tab table.matrix td.c,
ui|tabbox.tabsbelow ui|tab table.matrix td.n {
background-color: #F6F6F2;
}
ui|tabbox.tabsbelow ui|tab table.matrix td.e, 
ui|tabbox.tabsbelow ui|tab table.matrix td.ne {
#alphabackdrop: url("${skin}/tabboxes/tab-e.png");
}
ui|tabbox.tabsbelow ui|tab table.matrix td.w, 
ui|tabbox.tabsbelow ui|tab table.matrix td.nw {
#alphabackdrop: url("${skin}/tabboxes/tab-w.png");
}
ui|tabbox.tabsbelow ui|tab table.matrix td.se {
#alphabackdrop: url("${skin}/tabboxes/tab-se.png");
}
ui|tabbox.tabsbelow ui|tab table.matrix td.sw {
#alphabackdrop: url("${skin}/tabboxes/tab-below-sw.png");
}
ui|tabbox.tabsbelow ui|tab table.matrix td.se {
#alphabackdrop: url("${skin}/tabboxes/tab-below-se.png");
}
ui|tabbox.tabsbelow ui|tab table.matrix td.s {
#alphabackdrop: url("${skin}/tabboxes/tab-below-s.png");
}
ui|tabbox.tabsbelow ui|tab.selected table.matrix td.e,
ui|tabbox.tabsbelow ui|tab.selected table.matrix td.ne {
#alphabackdrop: url("${skin}/tabboxes/tab-on-e.png");
}
ui|tabbox.tabsbelow ui|tab.selected table.matrix td.w,
ui|tabbox.tabsbelow ui|tab.selected table.matrix td.nw {
#alphabackdrop: url("${skin}/tabboxes/tab-on-w.png");
}
ui|tabbox.tabsbelow ui|tab.selected table.matrix td.c,
ui|tabbox.tabsbelow ui|tab.selected table.matrix td.n {
background-color: #FFFFFF;
}
ui|tabbox.tabsbelow ui|tab.hover table.matrix td.sw,
ui|tabbox.tabsbelow ui|tab.selected table.matrix td.sw {
#alphabackdrop: url("${skin}/tabboxes/tab-on-sw.png");
}
ui|tabbox.tabsbelow ui|tab.hover table.matrix td.se,
ui|tabbox.tabsbelow ui|tab.selected table.matrix td.se {
#alphabackdrop: url("${skin}/tabboxes/tab-on-se.png");
}
ui|tabbox.tabsbelow ui|tab.hover table.matrix td.s,
ui|tabbox.tabsbelow ui|tab.selected table.matrix td.s {
#alphabackdrop: url("${skin}/tabboxes/tab-on-s.png");
}

ui|tabbox td.w,
ui|tabbox td.e{
background-repeat: repeat-y;
}

ui|tabbox td.n,
ui|tabbox td.s {
background-repeat: repeat-x;
}

ui|tabbox td.nw,
ui|tabbox td.ne,
ui|tabbox td.se,
ui|tabbox td.sw{
background-repeat: no-repeat;
}
@namespace ui url("http://www.w3.org/1999/xhtml");

#region default
ui|titlebar {
background-color: InactiveCaption;
color: Inactive$(color:captiontext);
#alphabackdrop: url("${skin}/docks/tabbackdrop.png");
}
ui|dialog.active ui|titlebar {
background-color: $(color:activecaption);
color: $(color:captiontext);
}
#endregion

#region vista
ui|dialog ui|titlebar {
margin: 3px 3px 0 3px;
#alphabackdrop: url("${skin}/dialogs/vista/dialog-titlebar.png");
}
ui|dialog.active ui|titlebar {
#alphabackdrop: url("${skin}/dialogs/vista/dialog-active-titlebar.png");	
}
ui|dialog ui|titlebarbody {
padding: 2px 3px 6px 5px;
_padding: 5px 3px 6px 5px;
}
ui|dialog ui|titlebar ui|controlgroup {
position: relative;
top: 2px;
}
ui|dialog ui|titlebar ui|labeltext {
color: white;
position: relative;
top: 1px;
overflow: hidden;
text-overflow: ellipsis;

}

ui|dialog ui|titlebar ui|labelbox.dialogtitle,
ui|dialog ui|titlebar ui|labelbox.dialogtitle ui|labelbody,
ui|dialog ui|titlebar ui|labelbox.dialogtitle ui|labeltext {
float: none;
}

#endregion

#region osx
ui|dialog ui|titlebar {
margin: 3px 3px 0 3px;
#alphabackdrop: url("${skin}/dialogs/vista/dialog-titlebar.png");
}
ui|dialog.active ui|titlebar {
#alphabackdrop: url("${skin}/dialogs/osx/dialog-active-titlebar.png");	
}
ui|dialog ui|titlebarbody {
padding: 2px 3px 6px 5px;
_padding: 5px 3px 6px 5px;
}
ui|dialog ui|titlebar ui|controlgroup {
position: relative;
top: 2px;
}
ui|dialog ui|titlebar ui|labeltext {
position: relative;
top: 1px;
}
ui|dialog ui|titlebar ui|controlgroup {
float: left;
position: relative;
z-index: 23;
}
ui|dialog ui|titlebar ui|labelbox.dialogtitle,
ui|dialog ui|titlebar ui|labelbox.dialogtitle ui|labelbody,
ui|dialog ui|titlebar ui|labelbox.dialogtitle ui|labeltext {
display: block;
float: none;
width: 100%;
text-align: center;
}
ui|dialog ui|titlebar ui|labelbox.dialogtitle ui|labeltext {
position: relative;
left: -13px;
}
#endregion
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|treenode ui|labelbox.open {
background-image: url("${skin}/trees/icon-treenode-minus.png");
}
ui|treenode ui|labelbox.closed {
background-image: url("${skin}/trees/icon-treenode-plus.png");
}
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|explorersplitter,
ui|explorertoolbarbutton {
border-bottom: 1px solid $(color:threedshadow);
}
ui|explorertoolbarbutton {
float: left;
padding: 4px;
width: 100%;
#region default
#alphabackdrop: url("${skin}/explorer/button.png");
#endregion
#region osx
#alphabackdrop: url("${skin}/explorer/button.png");
#endregion
#region vista
#alphabackdrop: url("${skin}/explorer/vista/button.png");
#endregion
}

ui|explorertoolbarbutton ui|labelbox {
padding-left: 1px;
}
ui|explorertoolbarbutton.hover {
background-color: $(color:threedhighlight);
}
ui|explorertoolbarbutton.active {
#region default
background-color: $(color:highlight);
border-bottom-color: $(color:highlight);
#endregion
#region osx
/*
background-color: $(color:highlight);
border-bottom-color: $(color:highlight);
*/
background-color: $(color:activecaption);
border-bottom-color: $(color:threedshadow);
#endregion
#region vista
border-bottom-color: #658fD5;
#endregion
}
ui|explorertoolbarbutton.active ui|labeltext {
#region osx
color: $(color:captiontext);
#endregion
#region default
color: $(color:highlighttext);
#endregion
#region vista
color: white;
#endregion
}
ui|explorerbar {
border-top: 1px solid $(color:threedhighlight);
}
ui|explorertoolbar ui|toolbargroup {
margin: 0;
padding: 0;
}
ui|explorermenu ui|toolbar {
border: none;
}


ui|explorertoolbarbutton.active {
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FjYzJlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iIzkzYWZkYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iIzc2OWFkMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5YmI1ZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: linear-gradient(to bottom, #acc2e8 0%,#93afdc 33%,#769ad3 33%,#9bb5df 100%); /* W3C */
}
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|dialog {
-vendor-box-shadow: 4px 4px 16px rgba(0,0,0,0.75);
#region osx
-vendor-box-shadow: 4px 4px 32px rgba(0,0,0,0.75);
#endregion
}

ui|dialogbody {
border: 2px solid InactiveCaption;
border-top: none;
}
ui|dialog.active ui|dialogbody {
border-color: $(color:activecaption);
}

#region vista

ui|dialog {
background-color: transparent;
#moz background-color: rgba(0,0,0,0.75);
-vendor-border-radius: 4px;
/*
-vendor-transition-property: opacity;
-vendor-transition-duration: 0.15s;
*/
}
ui|dialogbody,
ui|dialog.active ui|dialogbody,
ui|dialogmatrix td,
ui|dialog.active table.dialogmatrix td {
background-color: transparent;
border-color: transparent;
}
ui|dialogbody {
border-width: 3px; /* broad vista borders */
}
ui|dialog.active table.dialogmatrix td.c {
background-color: transparent;
}

/* DEFAULT */

ui|dialog table.dialogmatrix td.c {
background-color: transparent;
}
ui|dialog table.dialogmatrix td.n {
#alphabackdrop: url("${skin}/dialogs/vista/dialog-n.png");
}
ui|dialog table.dialogmatrix td.s {
#alphabackdrop: url("${skin}/dialogs/vista/dialog-s.png");
}
ui|dialog table.dialogmatrix td.e {
#alphabackdrop: url("${skin}/dialogs/vista/dialog-e.png");
}
ui|dialog table.dialogmatrix td.w {
#alphabackdrop: url("${skin}/dialogs/vista/dialog-w.png");
}
ui|dialog table.dialogmatrix td.ne {
#alphabackdrop: url("${skin}/dialogs/vista/dialog-ne.png");
}
ui|dialog table.dialogmatrix td.nw {
#alphabackdrop: url("${skin}/dialogs/vista/dialog-nw.png");
}
ui|dialog table.dialogmatrix td.se {
#alphabackdrop: url("${skin}/dialogs/vista/dialog-se.png");
}
ui|dialog table.dialogmatrix td.sw {
#alphabackdrop: url("${skin}/dialogs/vista/dialog-sw.png");
}


/* ACTIVE */

ui|dialog.active table.dialogmatrix td.n {
#alphabackdrop: url("${skin}/dialogs/vista/dialog-active-n.png");
}
ui|dialog.active table.dialogmatrix td.s {
#alphabackdrop: url("${skin}/dialogs/vista/dialog-active-s.png");
}
ui|dialog.active table.dialogmatrix td.e {
#alphabackdrop: url("${skin}/dialogs/vista/dialog-active-e.png");
}
ui|dialog.active table.dialogmatrix td.w {
#alphabackdrop: url("${skin}/dialogs/vista/dialog-active-w.png");
}
ui|dialog.active table.dialogmatrix td.ne {
#alphabackdrop: url("${skin}/dialogs/vista/dialog-active-ne.png");
}
ui|dialog.active table.dialogmatrix td.nw {
#alphabackdrop: url("${skin}/dialogs/vista/dialog-active-nw.png");
}
ui|dialog.active table.dialogmatrix td.se {
#alphabackdrop: url("${skin}/dialogs/vista/dialog-active-se.png");
}
ui|dialog.active table.dialogmatrix td.sw {
#alphabackdrop: url("${skin}/dialogs/vista/dialog-active-sw.png");
}

#endregion


#region osx

ui|dialog {
background-color: transparent;
-vendor-border-radius: 4px;
/*
-vendor-border-radius-bottomleft: 0;
-vendor-border-radius-bottomright: 0;
*/
}
ui|dialogbody,
ui|dialog.active ui|dialogbody,
ui|dialogmatrix td,
ui|dialog.active table.dialogmatrix td {
background-color: transparent;
border-color: transparent;
}
ui|dialogbody {
border-width: 3px; /* no osx borders */
border-width: 0;

}
ui|dialog.active table.dialogmatrix td.c {
background-color: transparent;
}

/* DEFAULT */

ui|dialog table.dialogmatrix td.c {
background-color: transparent;
}
ui|dialog table.dialogmatrix td.n {
#alphabackdrop: url("${skin}/dialogs/vista/dialog-n.png");
}
ui|dialog table.dialogmatrix td.s {
#alphabackdrop: url("${skin}/dialogs/vista/dialog-s.png");
}
ui|dialog table.dialogmatrix td.e {
#alphabackdrop: url("${skin}/dialogs/vista/dialog-e.png");
}
ui|dialog table.dialogmatrix td.w {
#alphabackdrop: url("${skin}/dialogs/vista/dialog-w.png");
}
ui|dialog table.dialogmatrix td.ne {
#alphabackdrop: url("${skin}/dialogs/vista/dialog-ne.png");
}
ui|dialog table.dialogmatrix td.nw {
#alphabackdrop: url("${skin}/dialogs/vista/dialog-nw.png");
}
ui|dialog table.dialogmatrix td.se {
#alphabackdrop: url("${skin}/dialogs/vista/dialog-se.png");
}
ui|dialog table.dialogmatrix td.sw {
#alphabackdrop: url("${skin}/dialogs/vista/dialog-sw.png");
}


/* ACTIVE */

ui|dialog.active table.dialogmatrix td.n {
#alphabackdrop: url("${skin}/dialogs/osx/dialog-active-n.png");
}
ui|dialog.active table.dialogmatrix td.s {
#alphabackdrop: url("${skin}/dialogs/osx/dialog-active-s.png");
}
ui|dialog.active table.dialogmatrix td.e {
#alphabackdrop: url("${skin}/dialogs/osx/dialog-active-e.png");
}
ui|dialog.active table.dialogmatrix td.w {
#alphabackdrop: url("${skin}/dialogs/osx/dialog-active-w.png");
}
ui|dialog.active table.dialogmatrix td.ne {
#alphabackdrop: url("${skin}/dialogs/osx/dialog-active-ne.png");
}
ui|dialog.active table.dialogmatrix td.nw {
#alphabackdrop: url("${skin}/dialogs/osx/dialog-active-nw.png");
}
ui|dialog.active table.dialogmatrix td.se {
/*#alphabackdrop: url("${skin}/dialogs/osx/dialog-active-se.png");*/
background-color: rgb(127,127,127);

}
ui|dialog.active table.dialogmatrix td.sw {
#alphabackdrop: url("${skin}/dialogs/osx/dialog-active-sw.png");
background-color: rgb(127,127,127);
}

#endregion
@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

/*
#region vista
ui|dialogpage {
padding: 14px 13px 13px 13px;
}
#endregion
*/

/* STANDARD DIALOGS ................................................................*/

ui|dialogpage.question ui|dialogvignette,
ui|dialogvignette.question {
#alphabackdrop: url("${skin}/dialogpages/question_32.png");
}
ui|dialogpage.warning ui|dialogvignette,
ui|dialogvignette.warning {
#alphabackdrop: url("${skin}/dialogpages/warning_32.png");
}
ui|dialogpage.message ui|dialogvignette,
ui|dialogvignette.message {
#alphabackdrop: url("${skin}/dialogpages/message_32.png");
}
ui|dialogpage.error ui|dialogvignette,
ui|dialogvignette.error {
#alphabackdrop: url("${skin}/dialogpages/error_32.png");
}
@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|radio ui|labelbody { /* radiobuttons! */
height: 18px;
padding-left: 18px;
}
ui|radio ui|datalabeltext {
padding-top: 3px;
}

ui|tabbox.boxed ui|labelbox.fieldgrouplabel {
left: -1px;
right: -1px;
}

ui|fieldgroup {
border-left:  2px groove #FFF;
border-right:  2px groove #FFF;
border-bottom:  2px groove #FFF;
border-radius: 0 0 5px 5px;
}

ui|fieldgroup.nolabel {
border:  2px groove #FFF;
border-radius: 5px;
}


ui|labelbox.fieldgrouplabel ui|labelbody:before {
content:"";
display: block;
height: 16px;
width: 12px;
float: left;
border-top:  2px groove #FFF;
border-left:  2px groove #FFF;
border-radius: 5px 0 0 0;
margin-top: 7px;
}

ui|labelbox.fieldgrouplabel > div {
border-top:  2px groove #FFF;
border-right:  2px groove #FFF;
border-radius: 0 5px 0 0;
margin-top: 7px;
height: 16px;
overflow: hidden;
}


ui|tabbox.boxed ui|fieldgroup {
border-left:  1px solid #B5B5B5;
border-right:  1px solid #B5B5B5;
border-bottom:  1px solid #B5B5B5;
}

ui|tabbox.boxed ui|labelbox.fieldgrouplabel ui|labelbody:before {
border-top:  1px solid #B5B5B5;
border-left:  1px solid #B5B5B5;
}

ui|tabbox.boxed ui|labelbox.fieldgrouplabel > div {
border-top:  1px solid #B5B5B5;
border-right:  1px solid #B5B5B5;
}
@namespace ui url("http://www.w3.org/1999/xhtml");
@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

/*
ui|splashscreen {
background-image: url("${skin}/splash/splash.png");
top: 45%;
left: 50%;
width: 340px;
height: 440px;
margin-left: -165px;
margin-top: -215px;
}
*/
@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|balloon table.matrix td {
width: 32px;
height: 32px;
}
ui|balloon table.matrix td.n,
ui|balloon table.matrix td.s {
width: auto;
}
ui|balloon table.matrix td.e,
ui|balloon table.matrix td.w {
height: auto;
}
ui|balloon table.matrix td.c {
width: auto;
height: auto;
background-color: #FFFFE1;
overflow: visible !important;
}
ui|balloon table.matrix td.n {
#alphabackdrop: url("${skin}/balloons/balloon-n.png");
}
ui|balloon table.matrix td.s {
#alphabackdrop: url("${skin}/balloons/balloon-s.png");
}
ui|balloon table.matrix td.e {
#alphabackdrop: url("${skin}/balloons/balloon-e.png");
}
ui|balloon table.matrix td.w {
#alphabackdrop: url("${skin}/balloons/balloon-w.png");
}
ui|balloon table.matrix td.ne {
#alphabackdrop: url("${skin}/balloons/balloon-ne.png");
}
ui|balloon table.matrix td.nw {
#alphabackdrop: url("${skin}/balloons/balloon-nw.png");
}
ui|balloon table.matrix td.se {
#alphabackdrop: url("${skin}/balloons/balloon-se.png");
}
ui|balloon table.matrix td.sw {
#alphabackdrop: url("${skin}/balloons/balloon-sw.png");
}
ui|balloontext {
margin-bottom: -10px;
width: 200px;
}
ui|balloonspeak {
width: 50px;
height: 50px;
top: 100%;
left: 0;
#alphabackdrop: url("${skin}/balloons/balloon-sw-speak.png");
margin-top: -34px;
#moz margin-top: -35px;
margin-left: -12px;
}
ui|balloon.left ui|balloonspeak {
top: 100%;
left: 100%;
#alphabackdrop: url("${skin}/balloons/balloon-se-speak.png");
margin-left: -37px;
}
ui|balloon ui|controlgroup {
position: absolute;
top: 0;
left: 100%;
margin-top: 21px;
margin-left: -40px;
#ie margin-bottom: -30px;
#region vista
margin-left: -53px;
#endregion
}
