<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <system.web.webPages.razor>
    <pages pageBaseType="Composite.AspNet.Razor.CompositeC1WebPage">
      <namespaces>
        <add namespace="System" />
        <add namespace="System.Linq" />
        <add namespace="System.Linq.Expressions" />
        <add namespace="System.Web.WebPages.Html" />
        <add namespace="System.Xml.Linq" />

        <add namespace="Composite.Data" />
        <add namespace="Composite.Data.Types" />
        <add namespace="Composite.Functions" />

        <add namespace="Composite.AspNet.Razor" />

        <add namespace="Composite.Core.Xml" />
        <add namespace="Composite.Core.PageTemplates" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
</configuration>