@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

#main {
	position: relative;  /* contain table.deco */
}
ui|tabpanel table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	margin: 0;
}

ui|tabpanel table.head,
ui|tabpanel table.grid,
ui|tabpanel table.deco {
	display: none;	/* adjusted by page binding */
}
ui|tabpanel table.head {
	background-color: #F7F7F7;
}
ui|tabpanel td {
	border-bottom: 1px solid $(color:threedshadow);
	white-space: nowrap;
	overflow: hidden;
	padding: 13px;
}
ui|tabpanel tr.first td {
	border-top: none !important;
}
ui|tabpanel table th {
	border-bottom: 1px solid $(color:threedshadow);
	padding:13px 0 13px 0;
	#ie text-overflow: ellipsis;
}
ui|tabpanel table td,
ui|tabpanel table th {
	overflow: hidden;
	text-align: center;
	-vendor-user-select: none;
}
ui|tabpanel th.index,
ui|tabpanel td.index {
	width: 20%;
	text-align: left;
	border-left: none;
}
ui|tabpanel td.edit,
ui|tabpanel th.edit {
	width: 40px;
	border-right: none;
	border-left: none;
}
ui|tabpanel td.last {
	border-right: none;	
}
ui|checkbox {
	margin: 0 !important;
	#region ie /* fix jump onmouseover */
		height: 20px;
		overflow: hidden;
	#endregion
}
ui|tabpanel th.index,
ui|tabpanel td.index {
	padding-left: 7px;
}
ui|tabpanel span.name {
	display: block;
	width: 100%;
	overflow: hidden;
	#ie text-overflow: ellipsis;
	height: 16px;
}
ui|tabpanel tr.set span.name {

}
ui|tabpanel table.deco {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
}
ui|tabpanel table.deco td {
	border-bottom: none;
}
ui|tabpanel table.grid {
	position: relative;
	z-index: 2;	 /* above table.deco */
}
ui|tabpanel table.grid span.x {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 16px;
	height: 16px;
	background: #ffffff;
	border: 1px solid #ECECEC;
	border-radius: 3px;
}

ui|tabpanel table.grid tr.set span.x {
	border: 1px solid #CCCCCC;
}

ui|tabpanel table.grid tr.set span.x:before {
	box-sizing: border-box;
	position: absolute;
	top: 0px;
	left: 0px;
	content: "\2713";
	font-size: 12px;
	font-weight: bold;
	width: 16px;
	height: 16px;
	color: #23B881;
	text-align: center;
	line-height: 13px;
	padding-left: 1px;
	
}

ui|tabpanel table.grid tr {
	position: relative;
}

ui|tabpanel table.grid td:empty:after {
	box-sizing: border-box;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	content: "";
	width: 16px;
	height: 16px;
	background: #ffffff;
	border: 1px solid #ECECEC;
	border-radius: 3px;
}

ui|tabpanel table.grid tr {
	background-color: $(color:threedface);	
}
ui|tabpanel table.grid tr.set {
	color: #0EBA7E;
}
ui|tabpanel table.grid tr.hilite {
	background-color: $(color:infobackground);
	color: $(color:infotext);
}