
/.vs
/Composite/bin
/Composite/obj
/Composite.Workflows/bin
/Composite.Workflows/obj
/Website/App_Data
/Website/App_GlobalResources
/Website/bower_components
/Website/bin
/Website/obj
/Website/Composite/InstalledPackages
/Website/Composite/scripts/compressed
/Website/Composite/styles/styles.*
/Website/Composite/content/forms/InstalledPackages
/Website/Composite/lib
/Website/Composite/console.js
/Website/Composite/console.js.map
/Website/Frontend
/Website/node_modules
/Website/jspm_packages
/Website/coverage
/Website/Composite/images/sprite.svg
/Website/Composite/console/icons.svg
/Website/Views
/Website/Web.config
/Website/test/e2e/screenshots/

/Website/Blog*.ashx
/Website/Newsletter.ashx


/Bin/Composite.dll
/Bin/Composite.Workflows.dll

/Packages/
selenium-debug.log
/Website/test/e2e/reports/

GitCommitInfo.cs

/Website/Composite/content/misc/editors/visualeditor/tinymce/plugins/autolink/plugin.min.js
/Website/Composite/content/misc/editors/visualeditor/tinymce/plugins/lists/plugin.min.js
/Website/Composite/content/misc/editors/visualeditor/tinymce/plugins/paste/plugin.min.js
/Website/Composite/content/misc/editors/visualeditor/tinymce/plugins/table/plugin.min.js
/Website/Composite/content/misc/editors/visualeditor/tinymce/skins/lightgray/fonts/tinymce.woff
/Website/Composite/content/misc/editors/visualeditor/tinymce/skins/lightgray/fonts/tinymce.ttf
/Website/Composite/content/misc/editors/visualeditor/tinymce/skins/lightgray/fonts/tinymce.svg
/Website/Composite/content/misc/editors/visualeditor/tinymce/skins/lightgray/fonts/tinymce.eot
/Website/Composite/content/misc/editors/visualeditor/tinymce/skins/lightgray/fonts/tinymce-small.woff
/Website/Composite/content/misc/editors/visualeditor/tinymce/skins/lightgray/fonts/tinymce-small.ttf
/Website/Composite/content/misc/editors/visualeditor/tinymce/skins/lightgray/fonts/tinymce-small.svg
/Website/Composite/content/misc/editors/visualeditor/tinymce/skins/lightgray/fonts/tinymce-small.eot
/Website/Composite/content/misc/editors/visualeditor/tinymce/tinymce.min.js
/Website/Composite/content/misc/editors/visualeditor/tinymce/skins/lightgray/skin.min.css
/Website/Composite/content/misc/editors/visualeditor/tinymce/skins/lightgray/skin.ie7.min.css
/Website/Composite/content/misc/editors/visualeditor/tinymce/skins/lightgray/img/trans.gif
/Website/Composite/content/misc/editors/visualeditor/tinymce/skins/lightgray/img/object.gif
/Website/Composite/content/misc/editors/visualeditor/tinymce/skins/lightgray/img/loader.gif
/Website/Composite/content/misc/editors/visualeditor/tinymce/skins/lightgray/img/anchor.gif
/Website/Composite/content/misc/editors/visualeditor/tinymce/skins/lightgray/content.min.css
/Website/Composite/content/misc/editors/visualeditor/tinymce/skins/lightgray/content.inline.min.css
