@namespace ui url("http://www.w3.org/1999/xhtml");

ui|box#treebox,
ui|box#infobox {
    height: 100%;
    width: 50%;
    float: left;
    position: relative;
}

#info.image .icon-preview {
    display: none;
}

#previewimage {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center 50px;
    position: absolute;
    top: 0;
    left: 0;
}

   #previewimage svg {
        width: 150px;
        height: 150px;
        margin: 65px;
        float: none;
        color: #999;
    }

ui|datainput#treeselectionresult {
    opacity: 1;
}

    ui|datainput#treeselectionresult ui|box {
        border: none;
        background: none;
    }

        ui|datainput#treeselectionresult ui|box input {
            text-align: center;
            background: none;
            color: #343434;
            padding: 10px 0 0 0 !important;
            font-size: 12px;
        }
