@namespace url("http://www.w3.org/1999/xhtml");

* {
	-moz-box-sizing: border-box;	
}
html,
input,
textarea,
button,
select,
td,
th {
	#region default
	 	font-family: Tahoma, sans-serif;
	 	font-size: 11px;
	 	font-size: 13px;
	#endregion
	#region vista
	 	font-family: "Segoe UI", Tahoma, sans-serif;
 		font-size: 12px;
 		font-size: 13px;
	#endregion
	#region osx
	 	font-family: "Lucida Grande", sans-serif;
 		font-size: 11px;
 		font-size: 12px;
	#endregion
}
* {
	-moz-box-sizing: border-box;	
}
html,
body {
	background-color: #F8F8F5 !important;
	color: #333333;
	margin: 0;
	padding: 0;
	border: none;
}
body {
	overflow: auto;
}
a {
	cursor: pointer;
	color: #CC071E;
	text-decoration: none;
	white-space: nowrap;
}
a:hover {
	text-decoration: underline;
}
a:hover {
	text-decoration: underline !important;
}
p,
ul,
ol {
	padding: 0;
	margin-top: 0;
	margin-bottom: 1.3em;
}
ul,
ol {
	margin-left: 1.4em;	
}
ul {
	color: #CC071E;
	list-style: square;	
}
ul li span {
 	color: #333333;	
}
h1 {
	font-size: 130%;
	padding: 0;
	margin: 0 0 20px 0;
	text-transform: uppercase;
}
h4 {
	font-size: 100%;
	margin: 1.3em 0 0 0;
	color: #CC071E;
	text-transform: uppercase;
}
div.clear {
	clear: both;
}

body {
	overflow: hidden;
}
h4 {
	text-transform: uppercase;	
}
div#titlebar {
	background-color: #EDEDE9;
	height: 27px; 
	border-bottom: 1px solid #D0D0CC;
}
div#content {
	height: 100%; /* adjusted by script */
	overflow: auto;
	padding: 40px;
	padding-top: 24px;
	overflow: auto;
}
div#main {
	padding: 30px;
	width: 61.8%;
	float: left;
}
div#spots {
	padding: 17px 50px 30px 10px;
	width: 38.2%;
	float: right;
}
div#titlebar ul {
	margin: 0;
	margin-left: 23px;
	position: relative;
	top: 6px;
	_top: 4px;
	list-style-type: square;
	color: #CC071E;
	#region vista
		top: 5px;
		_top: 4px;
	#endregion
}
div#titlebar ul a {
	color: #555555;
	text-decoration: none;
	position: relative;
	top: -1px;
	_top: 0;
	#region vista
		position: relative;
		top: -2px;
		_top: 0;
	#endregion
}
div.spot p,
div.spot h4 {
	padding: 0 16px 0 16px;
}
div#boost {
	background-color: #EDEDE9;
	margin-bottom: 1.3em;
	border: 1px solid #D0D0CC;
	padding: 16px;
	margin-bottom: 2em;
	-moz-border-radius: 7px;
}
div#boost p {
	margin-bottom: 0;
}
div#boost p,
div#boost h4 {
	padding: 0;
}
div#boost h4 {
	margin-top: 0;
}