@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

div#layout {
	width: 146px;
	height: 270px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -73px;
	margin-top: -85px;
}
div#layout div#image {
	#alphabackdrop: url("${root}/images/unfortunateerror.png");
	width: 146px;
	height: 175px;
}
div#layout div#text {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 110px;
	-moz-user-select: none;
}
div#layout div#detailslink {
    padding-top:7px;
    text-decoration: underline;
    cursor: pointer;
}
div#errerdetails {
    display: none;
	position: absolute;
    background-color: White;
    padding: 20px;
	z-index: 10;
	width: 100%;
	height: 100%;
	overflow: scroll;
}

pre.errordetailshead, 
pre#errordetailshead {
    font-size: 1.5em;
}
ui|dialogpage div#box {
	position: relative;
	height: 290px;
}
ui|dialogpage div#layout {
	top: 0;
	margin-top: 10px;
}