@namespace ui url("http://www.w3.org/1999/xhtml");
@namespace url("http://www.w3.org/1999/xhtml");


div.iconcontainer
{
	float: left;
	width:20em;
	margin-top: 3px;
	margin-left: 3px;
	padding-bottom: 14px;
}
img
{
	float:left;
	margin-top:9px;
	margin-bottom:4px;
	margin-left:4px;
}

div.normal span
{
	margin-left: 28px;
}

div.large span
{
	margin-left: 36px;
}

div.xlarge span
{
	margin-left: 54px;
}

span.iconnamespace,
span.iconname
{
	display: block;
	cursor: text;
}

span.iconnamespace
{
	font-size: 9px;
	color: $(color:threeddarkshadow);
}
