/* This file contains the CSS data for the editable area(iframe) of TinyMCE */
/* You can extend this CSS by adding your own CSS file with the the content_css option */

html {
	margin: 0;
	padding: 0;
	border: none;
}
body, td, pre {
	font-family: Verdana, sans-serif;
	font-size: 13px;
	line-height: 1.3em;
}
body {
	background-color: #FFFFFF;
	padding: 20px;
}
p {
	margin: 0 0 1em 0;	
}
h1,h2,h3,h4,h5,h6 {
	margin: 1.3em 0 0 0;
	padding: 0;	
}
h1 {
	margin: 0 0 1em 0;
}
.mceVisualAid {
	border: 1px dashed #BBBBBB !important;
}
div.mceVisualAid {
	background-image:url('../images/spacer.gif');
	visibility: visible !important;
}
.mceItemAnchor {
	width: 12px;
	line-height: 6px;
	overflow: hidden;
	padding-left: 12px;
	background-image: url('../images/anchor_symbol.gif');
	background-position: bottom;
	background-repeat: no-repeat;
}

/* Important is needed in Gecko browsers inorder to style links */
/*
a {
	color: green !important;
}
*/

/* Style selection range colors in Gecko browsers */
/*
::-moz-selection {
	background-color: red;
	color: green;
}
*/

/* MSIE specific */

/*
* html body {
	scrollbar-3dlight-color: #F0F0EE;
	scrollbar-arrow-color: #676662;
	scrollbar-base-color: #F0F0EE;
	scrollbar-darkshadow-color: #DDDDDD;
	scrollbar-face-color: #E0E0DD;
	scrollbar-highlight-color: #F0F0EE;
	scrollbar-shadow-color: #F0F0EE;
	scrollbar-track-color: #F5F5F5;
}
*/