body {
	background-color: #00bfff;
}
/* Disable hasLayout for IE*/
.mce-content-body * {
	min-height: auto !important;
	min-width: auto !important;
	max-height: none !important;
	max-width: none !important;
	column-count: auto !important;
}