@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");
 
ui|flexbox#imagestagecontainer {
 	background-color: $(color:appworkspace);
 	position: relative;
}
ui|flexbox#imagestage {
 	position: relative;
}
ui|toolbar#toolbar {
	border-bottom-color: $(color:threeddarkshadow);	
}
ui|imageboxsystem {
	display: block;
 	width: 0;
 	height: 0;
 	top: 50%;
 	left: 50%;
 	position: absolute;
}
ui|imagebox {
	display: block;
	position: absolute;
	overflow: visible;
}
ui|imagebox img {
 	display: block;
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: auto;
 	height: auto;
 	visibility: hidden; /* flipped by script, see ImageBoxBinding */
}
ui|imagebox.initialized img {
 	width: 100%;
 	height: 100%;
 	visibility: visible;
}
ui|imagecover {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: red;
	#opacity: 0;
}
ui|flexbox#imagestage.move {
	cursor: move;	
}
ui|flexbox#imagestage.select  {
	cursor: crosshair;	
}
ui|flexbox#imagestage.zoomin,
ui|flexbox#imagestage.zoomout {
	cursor: default;
	/*
	#ie cursor: crosshair;
	#moz cursor: -moz-zoom-in;
	*/
}
ui|imageselection {
	display: block;
	position: absolute;
	overflow: hidden;
	border: 1px solid blue;
	width: 0;
	height: 0;
}
ui|imagetoolbox {
	position: absolute;
	z-index: 6; /* above shadow (huh - 3 should be enough!) */
	overflow: hidden;
	top: 20px;
	left: 20px;
	width: 44px;
	height: 100px;
	background-color: $(color:threedface);
	border: 1px solid $(color:threeddarkshadow);
}
ui|imagetoolbox ui|toolbar {
	padding: 0;
	position: absolute;
	overflow: hidden;
	left: 2px;
	top: 24px;
	width: 38px !important;
	height: 72px;
	border: none;
	border: 1px solid $(color:threedshadow);
	border-color: $(color:threedshadow) $(color:threeddarkshadow) $(color:threeddarkshadow) $(color:threedshadow);
}
ui|imagetoolbox ui|toolbar ui|toolbarbody {
	border: 1px solid red;
	padding: 1px 0 0 0;
	border: 1px solid $(color:threedhighlight);
	border-right: none;
	border-bottom: none;
}
ui|imagetoolboxdragger {
	width: 38px;
	height: 20px;
	background-color: $(color:activecaption);
	position: absolute;
	overflow: hidden;
	left: 2px;
	top: 2px;
}
ui|imagetoolbox ui|toolbarbutton {
	margin-left: 0 !important;
	margin-bottom: 2px;
	float: none !important;
}
ui|labelbox#coordstext {
	padding-top: 3px;
	padding-right: 8px;	
}
ui|labelbox#statustext {
	padding-top: 3px;
}