html {
	border: none;
}
body {
	background-color: white;
	padding: 0 12px 12px 12px;
	font-family: "Courier New", monospace;
	font-size: 13px;
	white-space: pre;
	overflow: auto;
}
div {
	white-space: nowrap;;
}
pre {
	margin:0px; 
	display:inline;
}
span.atts {
	white-space: nowrap;	
}
div.element {
	color: rgb(63,127,127);
}
div.comment {
	color: rgb(63,95,191);
}
div.comment pre {
	display: block;
}
div.pi {
	color: rgb(127,0,0);
}
span.atts {
	color: rgb(127,0,127);
}
span.attval {
	color: rgb(0,0,255);
}
div.text,
span.text {
	color: rgb(0,0,0);
}
div.haschildren {
	#moz cursor: pointer;
	#ie cursor: hand;
}
div.closed div.children {
	display: none;
}
span.twisty {
	width: 8px;
	height: 7px;
	background: url("images/minus.png") transparent no-repeat 0 0;
	position: absolute;
	overflow: hidden;
	margin-top: 5px;
	margin-left: -12px;
	#moz -moz-user-select: none;
}
div.closed span.twisty {
	background-image: url("images/plus.png");
}

/* DEFAULT MESSAGE - PLEASE FIX THE TERRIBLE URL! */

div#defaultmessage {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 300px;
	height: 32px;
	padding-left: 40px;
	padding-top: 10px;
	-moz-box-sizing: border-box;
	#region default
	 	font-family: Tahoma, sans-serif;
	 	font-size: 11px;
	#endregion
	#region vista
	 	font-family: "Segoe UI", Tahoma, sans-serif;
 		font-size: 12px;
	#endregion
	#region osx
	 	font-family: "Lucida Grande", sans-serif;
 		font-size: 1;
 	#endregion
}
div#defaultmessage p {
	margin: 0;
	padding: 0;	
}
div#vignette {
	width: 32px;
	height: 32px;
	position: absolute;
	top: 0;
	left: 0;
	#alphabackdrop: url("${folder}/../../../../skins/system/dialogpages/error_32.png");
}