@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

table#messagelayout {
	margin: 0;
}
table#messagelayout td {
	vertical-align: middle;
	padding: 0;
}
table#messagelayout td#messagevignette {
	padding: 0 20px 0 10px;	
}
table#messagelayout td#messagetext {
	padding-bottom: 4px;	
}
ui|vignette {
	display: block;
	width: 32px;
	height: 32px;
	#alphabackdrop: url("${skin}/dialogpages/warning_32.png");
}
div#getfirefox {
	width: 96px;
	height: 96px;
	#alphabackdrop: url("ie8alarm.png");
	position: absolute;
	bottom: 100px;
	right: 100px;
}