<?xml version="1.0"?>
<configuration>
    <system.web>
			<pages>
				<namespaces>
					<add namespace="System" />
					<add namespace="System.Linq" />
					<add namespace="System.Linq.Expressions" />
					<add namespace="System.Web.WebPages.Html" />
					<add namespace="System.Xml.Linq" />

					<add namespace="Composite.Data" />
					<add namespace="Composite.Data.Types" />
					<add namespace="Composite.Functions" />

					<add namespace="Composite.AspNet.Razor" />

					<add namespace="Composite.Core.Xml" />
					<add namespace="Composite.Core.PageTemplates" />
				</namespaces>
			</pages>
		</system.web>
</configuration>
