@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|balloon table.matrix td {
	width: 32px;
	height: 32px;
}
ui|balloon table.matrix td.n,
ui|balloon table.matrix td.s {
	width: auto;
}
ui|balloon table.matrix td.e,
ui|balloon table.matrix td.w {
	height: auto;
}
ui|balloon table.matrix td.c {
	width: auto;
	height: auto;
	background-color: #FFFFE1;
	overflow: visible !important;
}
ui|balloon table.matrix td.n {
	#alphabackdrop: url("${skin}/balloons/balloon-n.png");
}
ui|balloon table.matrix td.s {
	#alphabackdrop: url("${skin}/balloons/balloon-s.png");
}
ui|balloon table.matrix td.e {
	#alphabackdrop: url("${skin}/balloons/balloon-e.png");
}
ui|balloon table.matrix td.w {
	#alphabackdrop: url("${skin}/balloons/balloon-w.png");
}
ui|balloon table.matrix td.ne {
	#alphabackdrop: url("${skin}/balloons/balloon-ne.png");
}
ui|balloon table.matrix td.nw {
	#alphabackdrop: url("${skin}/balloons/balloon-nw.png");
}
ui|balloon table.matrix td.se {
	#alphabackdrop: url("${skin}/balloons/balloon-se.png");
}
ui|balloon table.matrix td.sw {
	#alphabackdrop: url("${skin}/balloons/balloon-sw.png");
}
ui|balloontext {
	margin-bottom: -10px;
	width: 200px;
}
ui|balloonspeak {
	width: 50px;
	height: 50px;
	top: 100%;
	left: 0;
	#alphabackdrop: url("${skin}/balloons/balloon-sw-speak.png");
	margin-top: -34px;
	#moz margin-top: -35px;
	margin-left: -12px;
}
ui|balloon.left ui|balloonspeak {
	top: 100%;
	left: 100%;
	#alphabackdrop: url("${skin}/balloons/balloon-se-speak.png");
	margin-left: -37px;
}
ui|balloon ui|controlgroup {
	position: absolute;
	top: 0;
	left: 100%;
	margin-top: 21px;
	margin-left: -40px;
	#ie margin-bottom: -30px;
	#region vista
		margin-left: -53px;
	#endregion
}