@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

/* FOCUS */

ui|clickbutton.focused ui|labelbox,
ui|clickbutton.default ui|labelbox {
	border-color: #0EBA7E;
	background: linear-gradient(to bottom, #22b77f 0%,#1da370 100%); /* W3C */
	color: #FFFFFF;
	border-color: transparent;
}

/* ACTIVE */

ui|clickbutton.active ui|labelbox {
	border-color: #0EBA7E;
	background: linear-gradient(to bottom, #22b77f 0%,#1da370 100%); /* W3C */
	color: #FFFFFF;
	border-color: transparent;
}

/* DEFAULT and DISABLED */

ui|clickbutton ui|labelbox
{
	border-radius: 4px;
	color: #0EBA7E;
	border: 1px solid #0EBA7E;
	background: #ffffff;
}

/* HOVER */

ui|clickbutton.hover ui|labelbox {
	border-color: #0EBA7E;
	background: linear-gradient(to bottom, #22b77f 0%,#1da370 100%); /* W3C */
	color: #FFFFFF;
	border-color: transparent;
}



/* SELECTOR INDICATOR */
ui|toolbarbutton ui|combobox:before,
ui|selector ui|clickbutton ui|labelbox:before {
	content: "";
	position: absolute;
	top: 12px;
	right: 10px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: #0EBA7E transparent transparent transparent;
}

ui|toolbarbutton ui|combobox:after,
ui|selector ui|clickbutton ui|labelbox:after {
	content: "";
	position: absolute;
	top: 12px;
	right: 11px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: #fff transparent transparent transparent;
}
ui|toolbarbutton.active ui|combobox:before,
ui|toolbarbutton.hover ui|combobox:before,
ui|selector ui|clickbutton.hover ui|labelbox:before {
	border-color: #fff transparent transparent transparent;
}

ui|toolbarbutton.active ui|combobox:after,
ui|toolbarbutton.hover ui|combobox:after,
ui|selector ui|clickbutton.hover ui|labelbox:after {
	border-color: #0EBA7E transparent transparent transparent;
}


ui|selector ui|clickbutton.active ui|labelbox:before {
	top: 12px;
	border-width: 0px 5px 5px 5px;
	border-color: transparent transparent #fff transparent;
}

ui|selector ui|clickbutton.active ui|labelbox:after {
	top: 13px;
	border-width: 0px 4px 4px 4px;
	border-color: transparent transparent #0EBA7E transparent;
}
