@namespace ui url("http://www.w3.org/1999/xhtml");

ui|controlgroup {}

ui|control {
	margin-left: 2px;
	background-color: transparent;
}
ui|control.dialogcontrol ui|labelbody {
	padding-left: 16px;
}
ui|toolbarbutton.dialogcontrol ui|labelbody {
	padding-left: 16px;
}

ui|control[controltype="close"] ui|labelbody{
	background-position: -200px -200px;
	padding-left: 16px !important;
	
}

ui|control[controltype="close"] ui|labelbody:after {

	content: '×';
	position: absolute;
	height: 100%;
	width: 0px;
	top: -6px;
	left: 8px;
	color: #ccc;
	font-size: 17px;
}

ui|control.hover ui|labelbody:after {
	color: #808080;
}