@namespace ui url("http://www.w3.org/1999/xhtml");

ui|dialog {
	-vendor-box-shadow: 4px 4px 16px rgba(0,0,0,0.75);
	border-radius: 5px;
	border: 1px solid #CCCCCC;
}

ui|dialoghead {
	padding: 3px;
	border-bottom: 1px solid #CCCCCC;
	background: #FFFFFF;
}

ui|dialogbody {
}

ui|dialog.active ui|dialogbody {
}



ui|dialog {
}

	ui|dialogbody,
	ui|dialog.active ui|dialogbody {

	}

ui|dialogbody {
}


/* DEFAULT */

ui|dialog {
}


	/* ACTIVE */

	ui|dialog.active {
	}



ui|dialogpage ui|labelbox.fieldgrouplabel,
ui|wizardpage ui|labelbox.fieldgrouplabel {
		display: none;
	}

ui|dialogpage ui|fieldgroup.first,
ui|wizardpage ui|fieldgroup.first {
	margin-top: 0px;
}

ui|dialogpage ui|fieldgroup,
ui|wizardpage ui|fieldgroup {
	border: 0px;
	background: transparent;
	width: auto;
	padding: 6px 1px 27px 13px;
}


ui|wizardpage ui|fieldgroup ui|field,
ui|dialogpage ui|fieldgroup ui|field {
	background: transparent;
	padding: 0;
	border: none !important;
}
