@namespace url("http://www.w3.org/1999/xhtml");
@namespace url("http://www.w3.org/2000/svg");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|dialogtoolbar {
	background-color: #FFFFFF;
	border-top: 1px solid #E1E1E1;
}





/* STANDARD DIALOGS ................................................................*/

ui|dialogpage.question ui|dialogvignette,
ui|dialogvignette.question {
	color: #EFAD57;
}
ui|dialogpage.warning ui|dialogvignette,
ui|dialogvignette.warning {
	color: #EFAD57;
}
ui|dialogpage.message ui|dialogvignette,
ui|dialogvignette.message {
	color: #5FC0DC;
}
ui|dialogpage.error ui|dialogvignette,
ui|dialogvignette.error {
	color: #D75553;
}


