@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|dock {
	border: 1px solid $(color:threedhighlight);
	border-top: none;
	border-left: none;
}
ui|matrix.dockliner {
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 29px;
	z-index: -1;
	border: 1px solid $(color:threeddarkshadow);
	border-right-width: 2px;
	border-bottom: none;
	#alphabackdrop: url("${skin}/docks/tabsbackdrop.png");
}
ui|docktabs {
	height:29px;
}
ui|docktabs ui|toolbarbutton {
	position: relative;
	top: 2px !important;
}
ui|docktab {
	padding-top: 1px;
}
ui|docktab table.matrix td.c {
	padding-top: 2px;
	padding-left: 3px;
	padding-right: 1px;
	padding-bottom: 1px;
}
ui|docktabs div.tabliner {
	background-color: $(color:threeddarkshadow);
	height: 1px;
	z-index: 2;
	#ie bottom: -1px;
}
ui|docktab.selected {
	z-index: 3;
	background-color: $(color:threedface);
	border: 1px solid $(color:threeddarkshadow);
	border-bottom-color: $(color:threedshadow);
	height: 29px;
	padding-top: 0;
	position: relative;
}

ui|docktab ui|controlgroup {
	margin-left: 5px;
}
ui|docktab.selected table.matrix {
	#alphabackdrop: url("${skin}/docks/tabbackdrop.png");
}
ui|dockpanels {
	border: 1px solid $(color:threeddarkshadow);
	border-top: none;
}
ui|dockpanel {
	border: 1px solid $(color:threedhighlight);
	border-color: $(color:threedhighlight) $(color:threedface) $(color:threedface) $(color:threedhighlight);
	border-top: none;
}


/* START DOCK ............................ */

ui|dock.start ui|docktab {
	display: none;	
}
ui|dock.start ui|docktabs ui|controlgroup {
	display: none;
}
ui|dock.start ui|docktabs {
	height: 2px;
}
ui|dock.start ui|docktabs div.tabliner {
	visibility: hidden; /* size ie doesn't respect a height of zero */
}

/* EXPLORER DOCK ......................... */

ui|dock.explorer ui|docktab {
	float: none;
}
ui|dock.explorer ui|docktab table.matrix {
	width: 100%;
}
ui|dock.explorer ui|docktab ui|controlgroup {
	display: none;
}
ui|splitpanel.explorer ui|dock.active ui|docktab.selected ui|labeltext {
	font-weight: bold;
}

/* TOOLS DOCK ............................ */

ui|dock.tools ui|docktab.selected {
	margin-right: 4px;
}

/* EDITORS DOCK .......................... */

ui|splitpanel.editors ui|docktab {
	padding-left: 1px;	
}
ui|splitpanel.editors ui|docktab.selected {
	padding-left: 0;	
}
ui|splitpanel.editors ui|docktab table.matrix {
	width: 190px;
}
ui|splitpanel.editors ui|docktab ui|labeltext {
	width: 126px;
	overflow: hidden;
	#ie text-overflow: ellipsis;
}
ui|splitpanel.editors ui|dock.active ui|docktab.selected ui|labeltext {
	font-weight: bold;
}
ui|splitpanel.editors ui|docktab.default,
ui|splitpanel.editors ui|docktab.hover {
	border-right: 1px solid $(color:threedshadow);
	border-bottom: none;
}
ui|splitpanel.editors ui|docktab {
	margin-right: -1px;	
}
ui|splitpanel.editors ui|docktab.default ui|controlgroup {
	display: none;
}
#region moz
	ui|splitpanel.editors ui|docktab ui|controlgroup { /* FF3! */
		position: relative;
		right: -7px;
	}
#endregion

/* ACTIVE DOCK (VISTA SPECIFIC BELOW)*/

ui|dock.active ui|docktabs div.tabliner {
	height: 2px;
	visibility: visible; /* for start dock */
}
ui|dock.active ui|docktab.selected {
	background-color: $(color:activecaption);
	border-color: $(color:activecaption)
}
ui|dock.active div.tabliner {
	background-color: $(color:activecaption);
	display: block;
}
ui|dock.active ui|docktabs {
	border-color: $(color:activecaption);
}
ui|dock.active ui|docktab.selected ui|labeltext {
	color: $(color:captiontext);
}
ui|dock.active ui|dockpanels {
	border-color: $(color:activecaption);
	border-top: none;
}
ui|dock.active ui|dockpanel {
	border-color: $(color:activecaption);
}