@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|matrix.dockliner {
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	z-index: -1;
	border-right: 1px solid $(color:threedface);
}
ui|matrix.dockliner table.matrix  {
	width: 100%;
}
ui|matrix.dockliner table.matrix td.c {
	height: 21px; /* 1px too tall in order to hide last pixel */
}
ui|matrix.dockliner table.matrix td.c {
	#alphabackdrop: url("${skin}/docks/vista/tab-c.png");
}
ui|matrix.dockliner table.matrix td.n {
	#alphabackdrop: url("${skin}/docks/vista/tab-n.png");
}
ui|matrix.dockliner table.matrix td.s {
	#alphabackdrop: url("${skin}/docks/vista/tab-s.png");
}
ui|matrix.dockliner table.matrix td.ne {
	#alphabackdrop: url("${skin}/docks/vista/tab-ne.png");
}
ui|matrix.dockliner table.matrix td.nw {
	#alphabackdrop: url("${skin}/docks/vista/tab-nw.png");
}
ui|matrix.dockliner table.matrix td.e {
	#alphabackdrop: url("${skin}/docks/vista/tab-e.png");
}
ui|matrix.dockliner table.matrix td.se {
	#alphabackdrop: url("${skin}/docks/vista/tab-se.png");
}
ui|matrix.dockliner table.matrix td.w {
	#alphabackdrop: url("${skin}/docks/vista/tab-w.png");
}
ui|matrix.dockliner table.matrix td.sw {
	#alphabackdrop: url("${skin}/docks/vista/tab-sw.png");
}
ui|docktabs {
	height: 29px;
}
ui|docktabs ui|toolbarbutton {
	position: relative;
	top: 2px !important;
	#moz left: -1px;
}
ui|docktab {
	padding-top: 0;
}
ui|docktab ui|labelbox {
	position: relative;
	top: -1px;
}
ui|docktab ui|labeltext {
	position: relative;
}
ui|docktab ui|control ui|labelbox {
	top: 1px;
}
ui|docktab table.matrix td.c {
	padding-top: 3px;
	padding-left: 5px;
	padding-right: 3px;
	padding-bottom: 2px;
}
ui|docktabs div.tabliner {
	background-color: #9196A2;
	height: 1px;
	z-index: 2;
	#ie bottom: -1px;
	#moz border-right: 1px solid $(color:threedface);
}
ui|docktab.selected {
	z-index: 3;
	height: 29px;
	padding-top: 0;
	position: relative;
}
ui|docktab.selected table.matrix td.c {
	#alphabackdrop: url("${skin}/docks/vista/tab-c.png");
}
ui|docktab.selected table.matrix td.n {
	#alphabackdrop: url("${skin}/docks/vista/tab-n.png");
}
ui|docktab.selected table.matrix td.s {
	#alphabackdrop: url("${skin}/docks/vista/tab-s.png");
}
ui|docktab.selected table.matrix td.ne {
	#alphabackdrop: url("${skin}/docks/vista/tab-ne.png");
}
ui|docktab.selected table.matrix td.nw {
	#alphabackdrop: url("${skin}/docks/vista/tab-nw.png");
}
ui|docktab.selected table.matrix td.e {
	#alphabackdrop: url("${skin}/docks/vista/tab-e.png");
}
ui|docktab.selected table.matrix td.se {
	#alphabackdrop: url("${skin}/docks/vista/tab-se.png");
}
ui|docktab.selected table.matrix td.w {
	#alphabackdrop: url("${skin}/docks/vista/tab-w.png");
}
ui|docktab.selected table.matrix td.sw {
	#alphabackdrop: url("${skin}/docks/vista/tab-sw.png");
}
ui|docktab ui|controlgroup {
	margin-left: 5px;
}
ui|docktab.selected table.matrix {
	#alphabackdrop: url("${skin}/docks/tabbackdrop.png");
}
ui|dockpanels {
	border: 1px solid $(color:threeddarkshadow);
	border-top: none;
	margin-right: 1px; /* why not firefox? */
}
ui|dockpanel {
	border: 1px solid $(color:threedhighlight);
	border-color: $(color:threedhighlight) $(color:threedface) $(color:threedface) $(color:threedhighlight);
	border-top: none;
}


/* START DOCK ............................ */

ui|dock.start ui|docktab {
	display: none;	
}
ui|dock.start ui|docktabs ui|controlgroup {
	display: none;
}
ui|dock.start ui|docktabs {
	height: 2px;
	-moz-border-radius-topleft: 3x;
	-moz-border-radius-topright: 3px;
}
ui|dock.start ui|docktabs div.tabliner {
	visibility: hidden; /* ie doesn't respect a height of zero */
}

/* EXPLORER DOCK ......................... */


ui|dock.explorer ui|docktab {
	float: none;
	#moz padding-right: 1px;
}
ui|dock.explorer ui|docktab table.matrix {
	width: 100%;
}
ui|dock.explorer ui|docktabs {
	padding-left: 0;
}
ui|dock.explorer ui|docktab ui|controlgroup {
	display: none;
}
ui|splitpanel.explorer ui|dock.active ui|docktab.selected ui|labeltext {
	font-weight: bold;
}
ui|splitpanel.explorer div.dockliner {
	display: none;
}

/* TOOLS DOCK ............................ */

ui|dock.tools ui|docktab.selected {
	margin-right: 4px;
}
ui|dock.tools ui|dockpanels {
	width: auto !important;
}

/* EDITORS DOCK .......................... */

ui|splitpanel.editors ui|docktab {
	padding-left: 1px;	
}
ui|splitpanel.editors ui|docktab.selected {
	padding-left: 0;	
}
ui|splitpanel.editors ui|docktab table.matrix {
	width: 189px;
}
ui|splitpanel.editors ui|docktab ui|labeltext {
	width: 110px;
	overflow: hidden;
	#ie text-overflow: ellipsis;
}
ui|splitpanel.editors ui|docktab.selected ui|labelbox {
	position: relative;
	left: 1px;		
}
ui|splitpanel.editors ui|dock.active ui|docktab.selected ui|labeltext {
	font-weight: bold;
}
ui|splitpanel.editors ui|docktab.default,
ui|splitpanel.editors ui|docktab.hover {
	border-right: 1px solid $(color:threedshadow);
	border-bottom: none;
}
ui|splitpanel.editors ui|dockpanels {
	width: auto !important;
}
ui|splitpanel.editors ui|docktab {
	margin-right: -2px;
}
ui|splitpanel.editors ui|docktab.selected {
	margin-right: 0;	
}
ui|splitpanel.editors ui|docktab.default ui|controlgroup {
	display: none;
}
#region moz
	ui|splitpanel.editors ui|docktab ui|controlgroup { /* FF3! */
		position: relative;
		right: -7px;
	}
	ui|splitpanel.editors ui|docktab.selected ui|controlgroup { /* FF3! */
		right: -6px;
	}
#endregion

/* ACTIVE DOCK */

ui|dock.active ui|docktabs div.tabliner {
	height: 2px;
	#ie8 height: 3px;
	visibility: visible; /* for start dock */
}
ui|dock.active div.tabliner {
	background-color: #2264DC;
}
/*
ui|dock div.tabliner  {
	-moz-transition-property: background-color;
	-moz-transition-duration: 0.25s;	
}
*/
ui|dock.active ui|docktabs {
	border-color: #2264DC;
}
/*
ui|dock ui|docktabs {
	-moz-transition-property: border-color;
	-moz-transition-duration: 0.25s;
}
*/
ui|dock.active ui|docktab.selected ui|labeltext {
	color: white;
}
ui|dock.active ui|dockpanels {
	border-color: #2264DC;
}
/*
ui|dock ui|dockpanels {
	-moz-transition-property: border-color;
	-moz-transition-duration: 0.25s;
}
*/
ui|dock.active ui|dockpanel {
	border-color: #2264DC;
}
/*
ui|dock ui|dockpanel {
	-moz-transition-property: border-color;
	-moz-transition-duration: 0.25s;
}
*/
ui|dock.active ui|docktab.selected table.matrix td.c {
	#alphabackdrop: url("${skin}/docks/vista/tab-active-c.png");
}
ui|dock.active ui|docktab.selected table.matrix td.n {
	#alphabackdrop: url("${skin}/docks/vista/tab-active-n.png");
}
ui|dock.active ui|docktab.selected table.matrix td.s {
	#alphabackdrop: url("${skin}/docks/vista/tab-active-s.png");
}
ui|dock.active ui|docktab.selected table.matrix td.ne {
	#alphabackdrop: url("${skin}/docks/vista/tab-active-ne.png");
}
ui|dock.active ui|docktab.selected table.matrix td.nw {
	#alphabackdrop: url("${skin}/docks/vista/tab-active-nw.png");
}
ui|dock.active ui|docktab.selected table.matrix td.e {
	#alphabackdrop: url("${skin}/docks/vista/tab-active-e.png");
}
ui|dock.active ui|docktab.selected table.matrix td.se {
	#alphabackdrop: url("${skin}/docks/vista/tab-active-se.png");
}
ui|dock.active ui|docktab.selected table.matrix td.w {
	#alphabackdrop: url("${skin}/docks/vista/tab-active-w.png");
}
ui|dock.active ui|docktab.selected table.matrix td.sw {
	#alphabackdrop: url("${skin}/docks/vista/tab-active-sw.png");
}