@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|radio ui|labelbody { /* radiobuttons! */
	height: 20px;
	padding-left: 18px;
}
ui|radio ui|datalabeltext {
	padding-top: 3px;
}

ui|tabbox.boxed ui|labelbox.fieldgrouplabel {
	left: -1px;
	right: -1px;
}

ui|fieldgroup {
	padding: 0px 0px 35px 0px;
	
}

ui|fieldgroup ui|field {
	border-width: 0 1px;
	border-style: solid;
	border-color: #E5E5E5;
	background: #F7F7F7;
	padding: 0 17px;
}

ui|fieldgroup ui|field:first-of-type {
	padding-top: 8px;
	border-top-width: 1px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

ui|fieldgroup ui|field:last-of-type {
	padding-bottom: 27px;
	border-bottom-width: 1px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
} 

ui|fieldgroup.nolabel {

}


ui|labelbox.fieldgrouplabel {
	color: #23B880;
	text-transform: uppercase;
	font-style: italic;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 20px;
}


/* *** FIELD HELP *** */

ui|fieldhelp ui|clickbutton.fieldhelp{
	
}
ui|fieldhelp ui|clickbutton.fieldhelp ui|labelbox {
	border-color: transparent;
	background: transparent !important;
}

ui|fieldhelp ui|clickbutton.fieldhelp ui|labelbody {
	background-position: -32px -32px;
	background-color: transparent;
}


ui|fieldhelp ui|clickbutton.fieldhelp:after {
  content: "?";
  width: 16px;
  height: 16px;
  color: white;
  position: absolute;
  top: 4px;
  left: 4px;
  background: #CDCDCF;
  border-radius: 8px;
  font-size: 11px;
  text-align: center;
  line-height: 16px;
  font-weight: normal;
  font-family: Verdana;
}

ui|fieldhelp ui|clickbutton.fieldhelp.active:after,
ui|fieldhelp ui|clickbutton.fieldhelp.hover:after {
	background: #808080;
}



ui|fielddesc {
	color: #999999;

}


ui|tabbox.boxed ui|fieldgroup {

}

ui|tabbox.boxed ui|labelbox.fieldgrouplabel ui|labelbody:before {

}

ui|tabbox.boxed ui|labelbox.fieldgrouplabel > div {

}

ui|selector ui|clickbutton ui|labelbox {
	border-color: #CCCCCC;
}

ui|multiselector ui|box div.selected {
	background: #0EBA7E;
	color: #FFF;
}