@namespace ui url("http://www.w3.org/1999/xhtml");

ui|menubar {
}

ui|menubody {
	padding: 0px 0px 0px 0px;
	background-color: #fff;
	color: #343434;
	border-radius: 3px;
	border: 1px solid #CCCCCC;
}


ui|menugroup {
	padding: 0px 0px 0px 0px;
	border-bottom: 1px solid #CCCCCC;
}

	ui|menugroup.last {
		border-bottom: none;
	}

ui|menuitem ui|labelbox.hover {
}


ui|menupopup {
	margin-top: 5px;
}

ui|menu > ui|menupopup:before {
	content: "";
	position: absolute;
	top: -9px;
	left: 50%;
	width: 0;
	height: 0;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid #ccc;
	margin-left: -9px;
}

ui|menu > ui|menupopup:after {
	content: "";
	position: absolute;
	top: -8px;
	left: 50%;
	width: 0;
	height: 0;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid #fff;
	margin-left: -9px;
}

ui|menubody ui|labelbox.hover {
	background: #0EBA7E;
	color: #ffffff;
}

ui|menu.hover {
	color: #0EBA7E;
}

ui|menubody ui|labelbox.hover ui|labeltext {
	
}

ui|menu > ui|labelbox {
	margin-left: 12px;
}


ui|menu > ui|labelbox.textonly:before {
	content: "";
	position: absolute;
	top: 12px;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: #0EBA7E transparent transparent transparent;
}

ui|menu > ui|labelbox.textonly:after {
	content: "";
	position: absolute;
	top: 12px;
	right: 1px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: #333 transparent transparent transparent;
}


ui|menu.hover > ui|labelbox.textonly:before {
	top: 12px;
	border-width: 0px 5px 5px 5px;
	border-color: transparent transparent #909090 transparent;
}

ui|menu.hover > ui|labelbox.textonly:after {
	top: 13px;
	right: 1px;
	border-width: 0px 4px 4px 4px;
	border-color: transparent transparent #333 transparent;
}


.submenuindicator {
	display: none;
}
