@namespace ui url("http://www.w3.org/1999/xhtml");

/* DIALOGSHADOW .........................................................*/

ui|shadow.dialogshadow table.matrix td.n,
ui|shadow.dialogshadow table.matrix td.s {
	height: 36px;
}
ui|shadow.dialogshadow table.matrix td.e,
ui|shadow.dialogshadow table.matrix td.w {
	width: 36px;
}
ui|shadow.dialogshadow table.matrix td.ne,
ui|shadow.dialogshadow table.matrix td.nw,
ui|shadow.dialogshadow table.matrix td.se,
ui|shadow.dialogshadow table.matrix td.sw {
	width: 36px;
	height: 36px;
}
ui|shadow.dialogshadow td.n {
	#alphabackdrop: url("${skin}/shadows/shadow-n.png");
}
ui|shadow.dialogshadow td.s {
	#alphabackdrop: url("${skin}/shadows/shadow-s.png");
}
ui|shadow.dialogshadow td.e {
	#alphabackdrop: url("${skin}/shadows/shadow-e.png");
}
ui|shadow.dialogshadow td.w {
	#alphabackdrop: url("${skin}/shadows/shadow-w.png");
}
ui|shadow.dialogshadow td.ne {
	#alphabackdrop: url("${skin}/shadows/shadow-ne.png");
}
ui|shadow.dialogshadow td.se {
	#alphabackdrop: url("${skin}/shadows/shadow-se.png");
}
ui|shadow.dialogshadow td.nw {
	#alphabackdrop: url("${skin}/shadows/shadow-nw.png");
}
ui|shadow.dialogshadow td.sw {
	#alphabackdrop: url("${skin}/shadows/shadow-sw.png");
}
ui|shadow.dialogshadow td.c {
	border: 1px solid black;
	background-color: black; 
}


/* POPUPSHADOW .........................................................*/

ui|shadow.popupshadow table.matrix td.n,
ui|shadow.popupshadow table.matrix td.s {
	height: 18px;
}
ui|shadow.popupshadow table.matrix td.e,
ui|shadow.popupshadow table.matrix td.w {
	width: 18px;
}
ui|shadow.popupshadow table.matrix td.ne,
ui|shadow.popupshadow table.matrix td.nw,
ui|shadow.popupshadow table.matrix td.se,
ui|shadow.popupshadow table.matrix td.sw {
	width: 18px;
	height: 18px;
}
ui|shadow.popupshadow td.n {
	#alphabackdrop: url("${skin}/shadows/popupshadow-n.png");
}
ui|shadow.popupshadow td.s {
	#alphabackdrop: url("${skin}/shadows/popupshadow-s.png");
}
ui|shadow.popupshadow td.e {
	#alphabackdrop: url("${skin}/shadows/popupshadow-e.png");
}
ui|shadow.popupshadow td.w {
	#alphabackdrop: url("${skin}/shadows/popupshadow-w.png");
}
ui|shadow.popupshadow td.ne {
	#alphabackdrop: url("${skin}/shadows/popupshadow-ne.png");
}
ui|shadow.popupshadow td.se {
	#alphabackdrop: url("${skin}/shadows/popupshadow-se.png");
}
ui|shadow.popupshadow td.nw {
	#alphabackdrop: url("${skin}/shadows/popupshadow-nw.png");
}
ui|shadow.popupshadow td.sw {
	#alphabackdrop: url("${skin}/shadows/popupshadow-sw.png");
}
ui|shadow.popupshadow td.c {
	border: 1px solid black;
	background-color: black; 
}
