@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

/*
ui|splashscreen {
	background-image: url("${skin}/splash/splash.png");
	top: 45%;
	left: 50%;
	width: 340px;
	height: 440px;
	margin-left: -165px;
	margin-top: -215px;
}
*/