@namespace ui url("http://www.w3.org/1999/xhtml");

ui|tabbox.boxed {
	#moz border-bottom: 4px solid transparent;
	#ie border-bottom: 4px solid $(color:threedface);
}

ui|tabs {	
	
}

ui|tab {
	z-index: 1;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	border-radius: 5px 5px 0 0;
	background: #ffffff;
	z-index: 2;
	margin-right: -4px;
	text-transform: uppercase;

}
ui|tab ui|labelbox {

}

ui|pagebody > ui|tabbox {
	margin: 0 -14px 0 -14px;

}
ui|pagebody > ui|tabbox ui|tabpanel {
	padding: 0 14px 0 14px;
}


/* TAB GRAPHICS .................................................................. */

/* tabs on top */

ui|tabbox.tabsontop ui|tabs {
	box-shadow: inset 0px -1px 0px 0px rgba(204,204,204,1);
	padding: 0px 10px 0px 10px;
	
}

ui|tabbox.tabsontop ui|tab {
	padding: 5px 20px 5px 15px;
	color: #ADADAD;
	
}
ui|tabbox.tabsontop ui|tab.selected {
	color: #0EBA7E;
	z-index: 3;
	border-color: #CCCCCC #CCCCCC transparent #CCCCCC;
}



