@namespace url("http://www.w3.org/1999/xhtml");
@namespace url("http://www.w3.org/2000/svg");
@namespace ui url("http://www.w3.org/1999/xhtml");


ui|toolbarbutton {
	border-radius: 4px;
	text-transform: uppercase;
	padding: 0;
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	background: #ffffff;
	color: #626262;
	margin: 0px 6px 0px 6px;
	
}

ui|toolbarbutton ui|labelbox{
	padding: 6px 11px;
}

ui|toolbar ui|clickbutton ui|labelbox,
ui|toolbar ui|clickbutton.isdisabled ui|labelbox {
	border: 1px solid #CCCCCC;
	color: #626262;
}

/* HOVER */

ui|toolbarbutton.hover {

}

/* ACTIVE */

ui|toolbarbutton.active {

}

ui|toolbar {
	box-shadow: inset 0px -1px 0px 0px rgba(204, 204, 204, 1);
	border: 0px;
	padding: 15px 10px 15px 10px;
	
}

ui|editorpage > ui|toolbar {
	box-shadow: none;
	
}

ui|toolbar.dark {
	background: #EFEFEF;
}

ui|toolbarbutton.hover,
ui|toolbarbutton.active {
	background: linear-gradient(to bottom, #22b77f 0%,#1da370 100%); /* W3C */
	color: #FFFFFF;
	border-color: transparent;
}

ui|editorpage > ui|toolbar ui|toolbarbutton {
	margin: 15px 5px 0px 5px;
}

/* EDITOR TOOLBAR*/

ui|splitpanel#editorsplitpanel ui|toolbar {
	background: #fff;
}

ui|splitpanel#editorsplitpanel ui|toolbar  ui|toolbargroup ui|toolbarbutton,
ui|splitpanel#editorsplitpanel ui|toolbar ui|selector,
ui|toolbar#templatetoolbar ui|toolbarbutton {
	margin: 0px 5px 0px 5px;
}

ui|splitpanel#editorsplitpanel ui|toolbar#toolbar {
	background: #EFEFEF;
}

ui|toolbar#templatetoolbar {
	background: #EFEFEF;
	padding: 15px 18px 15px 18px;
}

ui|splitpanel#editorsplitpanel ui|toolbar#toolbar ui|toolbargroup {
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	margin: 0px 5px 0px 5px;
	padding: 0px;
	overflow: hidden;
}


ui|splitpanel#editorsplitpanel ui|toolbar#toolbar ui|toolbargroup:empty {
	display: none;
}

ui|splitpanel#editorsplitpanel ui|toolbar#toolbar ui|toolbargroup ui|toolbarbutton {
	border-color: transparent;
	margin: 0px;
	border-radius: 0;
	text-transform: none;
}

ui|splitpanel#editorsplitpanel ui|toolbar#toolbar ui|toolbargroup ui|toolbarbutton + ui|toolbarbutton{
	border-color: transparent transparent transparent #CCCCCC;
}

ui|splitpanel#editorsplitpanel ui|toolbar#toolbar  ui|toolbargroup ui|toolbarbutton ui|labelbox {
	padding: 5px 9px;
}



/* COMBO BUTTON */

ui|toolbarbutton.isdisabled ui|combobox {
	
}

ui|toolbarbutton.combobutton ui|combobox {
	border-left: 1px solid transparent;
	margin: 0;
	display: block;
	float: left;
	line-height: 28px;
	font-size: 9px;
	padding: 0 10px;
	-moz-user-select: none;
	position: relative;
	color: transparent;
}


ui|toolbarbutton.hover ui|combobox,
ui|toolbarbutton.active ui|combobox
{
	border-left: 1px solid #A3E4CD;
}