@namespace url("http://www.w3.org/1999/xhtml");
@namespace url("http://www.w3.org/2000/svg");
@namespace ui url("http://www.w3.org/1999/xhtml");


ui|treenode ui|labelbox.open {
	background-image: url("${skin}/trees/icon-treenode-minus.png");
}

ui|treenode ui|labelbox.closed {
	background-image: url("${skin}/trees/icon-treenode-plus.png");
}

ui|treebody {
	background: #EFEFEF;
}

ui|treenode {
	margin: 0;
	padding: 0 8px;
	position: relative;
}

ui|treenode ui|labelbox {
	float: none;
	height: 28px;
	color: #999;

}

ui|treenode ui|labelbox ui|labeltext {
	color: #333333;
	font-size: 13px;
	border-radius: 2px;
}


/*ui|treenode ui|labelbox.focused ui|labeltext {
	background-color: $(color:threedface) !important; 
	background-color: $(color:threedlightshadow) !important;
}*/

ui|tree.focused ui|treenode ui|labelbox.focused ui|labelbody{
	color: #21B980;
	
}
ui|tree.focused ui|treenode ui|labelbox.focused ui|labeltext {
	background-color: #21B980 !important;
	color: #fff;
}


ui|treenode ui|labelbody {
	padding-left: 18px;
}


ui|treenode ui|labelbox svg{
	width: 18px;
	height: 18px;
	margin-left: -18px;
	margin-top: 3px;
}


ui|treenode ui|treenode::before, 
ui|treenode ui|treenode::after {
	content: '';
	position: absolute;
}

ui|treenode ui|treenode::before {
	border-top: 1px solid #999;
	top: 12px;
	width: 30px;
	height: 0;
	left: 23px;
}
ui|treenode ui|treenode.open::before,
ui|treenode ui|treenode.closed::before {
	width: 20px;
}


ui|treenode ui|treenode::after {
	border-left: 1px solid #999;
	height: 100%;
	width: 0px;
	top: -3px;
	left: 23px;
}

ui|treenode ui|treenode:last-of-type::after{
	height: 16px;
}




/* Template selector */

ui|toolbar#templatetoolbar ui|toolbarbody,
ui|toolbar#templatetoolbar ui|toolbargroup,
ui|toolbar#templatetoolbar ui|selector {
	width: 100%;
}
/* temporary */
ui|toolbar#templatetoolbar > ui|toolbargroup {
	display: none;
}

ui|tree#templatetree ui|treebody{
	background: #fff;
	padding-top: 19px;
}

ui|tree#templatetree ui|treenode {
	padding: 1px 4px;
}

ui|tree#templatetree ui|labelbody {
	background-position: -200px -200px;
	position: relative;
}

ui|tree#templatetree ui|labelbody:before {
	box-sizing: border-box;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	border: 1px solid #DDDDDD;
	border-radius: 8px;
	left: 0px;
	top: 4px;

}
ui|tree#templatetree ui|labelbox.focused ui|labelbody:after {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background: #23B881;
	left: 4px;
	top: 8px;
}

ui|tree#templatetree ui|treenode ui|labelbox.focused ui|labeltext {
	background: transparent !important;
	color: #000;
}

ui|tree#templatetree ui|labelbody svg{
	display: none;
}
