@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|labelbox svg {
    height: 150px;
    width: 150px;
    margin-left: 50px;
    margin-top: 25px;
}

.filePreview {
    text-align: center;
}

.filePreview .fileName {
    display: none;
}

.filePreview .imagePreviewFrame {
    margin-top: 25px;
}

.filePreview .imagePreviewFrame .previewImage {
    border: 1px solid #EAEAEA;
    max-width: 100%;
    max-height: 100%;
}

.filePreview .description {
    padding-top: 25px;
    max-width: 100%;
    color: #777;
}    

.folderPreview {
    margin: -30px 0 30px -30px;
}

.folderPreview .previewItem {
    width: 300px;
    text-align: center;
/*    float: left;*/
    display: inline-table;

    margin: 30px 0 0 30px;
}

.filePreview .previewIcon {
    margin: 0 auto 0 auto;
}

.folderPreview .previewItem .imagePreviewFrame {
    height: 200px;
}

.folderPreview .previewItem .previewImage {
    max-width: 100%;
    max-height: 300px;
    border: 1px solid #EAEAEA;
}

.folderPreview .previewItem .title {
    word-break: break-all;
}

