/*
 * CodePress color styles for SQL syntax highlighting
 * By Merlin Moncure
 *
b {color:#0000FF;font-style:normal;font-weight:bold;} reserved words
u {color:#FF0000;font-style:normal;} types
a {color:#CD6600;font-style:normal;font-weight:bold;} commands
i, i b, i u, i a, i s  {color:#A9A9A9;font-weight:normal;font-style:italic;} comments
s, s b, s u, s a, s i {color:#2A00FF;font-weight:normal;} strings
*/

b {
	color: rgb(0,0,127); /* reserved words */
} 
u {
	color: rgb(127,0,127); /* types */
}
a {
	color: rgb(63,127,127); /* commands */
}
i, 
i b, 
i u, 
i a, 
i s  {
	color: rgb(63,95,191); /* comments */
}
s, 
s b, 
s u, 
s a, 
s i {
	color: rgb(0,0,255); /* strings */
}
