@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|fieldsbutton {
	display: block;
	padding: 2px;
}
ui|fieldsbutton.focused {
	padding: 1px;
	border: 1px solid $(color:threedshadow);
	#region osx
		border-color: $(color:highlight);
	#endregion
}
ui|fieldsbutton ui|clickbutton {
	float: none;
	margin: 0;
}
ui|fieldsbutton ui|clickbutton table.matrix td.c {
	padding: 2px;
	padding-top: 1px;
	padding-bottom: 0px;
	#moz padding-bottom: 1px;
	width: 204px;
	#region vista
		padding-top: 0px;
		padding-bottom: 2px;
		_padding-top: 0;
		_padding-bottom: 1px;
	#endregion
}

#fieldspanel #scrollbox{
	float: left;
}


/*
ui|splitpanel#treepanel {
	border-right: 1px solid $(color:threedlightshadow);	
}
ui|splitpanel#fieldspanel {
	border-left: 1px solid $(color:threedhighlight);
	border-top: 1px solid $(color:threedhighlight);
}
*/