@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|balloonset {
	display: block;
	overflow: visible;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	z-index: 3; /* below dialogs */
}
ui|balloonset#dialogballoonset {
	z-index: 5; /* above dialogs */	
}
ui|balloon {
	#moz min-width: 280px;
	#ie width: 280px;
	display: block;
	position: absolute;
	overflow: visible;
	-moz-transition-property: top, left;
	-moz-transition-duration: 0.25s;
}
ui|balloon table.matrix {
	width: 100%;
	height: 100%;
}
ui|balloontext {
	display: block;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	position: relative;
	z-index: 2;
	padding-bottom: 4px;
}
ui|balloonspeak {
	display: block;	
	position: absolute;
	z-index: 1;
}