@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

/* remember that both dekcs and deck gets assigned the "flexboxelement" class! */

ui|*.deckselement {
	display: block;
	position: relative;
}
ui|*.deckelement {
	display: block;
	height: 100%;
	clear: both;
	overflow: hidden;
	position: absolute;
	top: -10000px;
}