@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|matrix {
	display: block;	
}
table.matrix td {
	overflow: hidden;
	width: 4px;
	height: 4px;
	padding: 0;
}
table.matrix td.n,
table.matrix td.s {
	width: auto;
}
table.matrix td.e,
table.matrix td.w {
	height: auto;

}
table.matrix td.c {
	width: auto;
	height: auto;
}
div.matrixbindingmanifester {
	height: 1px;
	overflow: hidden;
	visibility: hidden;	
}