@namespace ui url("http://www.w3.org/1999/xhtml");


/* see also popups.css for shared visual styles!!!!!!! */

ui|menubar {
	display: block;
	white-space: nowrap;
}
ui|menu {
	display: block;
	float: right;
	margin: 0;
	padding: 0;
	height: 30px;
}
ui|menubody {
	display: block;
}
ui|menugroup {
	display: block;
}
ui|menugroup.first {
	padding-top: 0;
}
ui|menugroup.last {
	padding-bottom: 0;
}
ui|menu ui|labelbox.menulabel {
	padding: 7px 16px 1px 4px;
	position: relative; /* ie something */
}
ui|menuitem {
	white-space: nowrap;
	display: block;
	clear: both;
	position: relative;
}
ui|menuitem ui|menupopup {
	margin-top: -2px;
	margin-left: -2px;
}
ui|menuitem.isdisabled,
ui|menu ui|menu.isdisabled {
	color: $(color:graytext);
}
ui|menuitem ui|labelbox,
ui|menuitem ui|labelbody,
ui|menubody ui|labelbox,
ui|menubody ui|labelbody
{
	float: none;
	clear: both;
}
ui|menuitem ui|labelbox {
	padding: 7px 8px 7px 8px;
}
ui|menubody.checkboxed ui|menuitem ui|labelbox {
	padding: 7px 8px 7px 24px;
}

ui|menuitem ui|labeltext {
	padding-left: 4px;
	position: relative;
}
ui|popup.selectorpopup ui|menuitem ui|labeltext {
	text-transform: none; /* selectors should NOT capitalize text! */
}

ui|menuitem ui|labelbox {
	position: relative;
	#ie width: 100%;
}

div.checkboxindicator {
	font-family: Arial, sans-serif;
	font-size: 11px;
	position: absolute;
	left: 10px;
	top: 10px;
}
div.submenuindicator {
	font-family: Arial, sans-serif;
	font-size: 11px;	
	position: absolute;
	right: 7px;
	top: 3px;
}

ui|menu ui|labelbox {
	text-transform: uppercase;
}

ui|menu ui|menubody ui|labelbox {
	text-transform: none;
}

ui|menu ui|clickbutton ui|labelbox {
	border:0 !important;
	background-color: transparent;

}


