@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|popupset {
	display: block;
	overflow: visible;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	z-index: 5; /* above dialogset */
}
ui|popup,
ui|menupopup {
	position: absolute;
	z-index: 6;  /* above the shadow */ 
	min-width: 160px;
	visibility: hidden;
	/*-vendor-transition-property: opacity;
	-vendor-transition-duration: 0.15s;
	-vendor-box-shadow:  0px 0px 5px 0px rgba(97,97,97,0.25);*/
	border-radius: 3px;
	display: none;
	-vendor-user-select: none;
}

ui|popupbody { /* NOT USED ON COMMON POPUPS! */
	display: block;
	padding: 10px 12px 10px 12px;
	background-color: $(color:menu);
	color: $(color:menutext);
	-vendor-user-select: none;
}

/* OVERFLOW ................................................ */

ui|popup.overflow {
	overflow-y: scroll;
	height: 211px; /* move this to script when separators are supported */
	border-right: none;
}
