@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|popupset {
	display: block;
	overflow: visible;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	z-index: 5; /* above dialogset */
	/*
	display: inline;
	overflow: visible;
	#moz position: absolute;
	#ie position: static;
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	z-index: 5;
	*/
}
ui|popup,
ui|menupopup {
	position: absolute;
	z-index: 6;  /* above the shadow */ 
	#moz min-width: 160px;
	#ie width: 160px;
	visibility: hidden;
	-vendor-transition-property: opacity;
	-vendor-transition-duration: 0.15s;
	-vendor-box-shadow: 2px 2px 4px rgba(0,0,0,0.75);
	display: none;
	border: 1px solid $(color:threedshadow);
	-vendor-user-select: none;
}
ui|popupbody { /* NOT USED ON COMMON POPUPS! */
	display: block;
	padding: 10px 12px 10px 12px;
	background-color: $(color:menu);
	color: $(color:menutext);
	-vendor-user-select: none;
}

/* OVERFLOW ................................................ */

ui|popup.overflow {
	overflow-y: auto;
	height: 211px; /* move this to script when separators are supported */
	border-right: none;
}
