@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|shadow {
	display: block;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5; /* above the view - 2 should be enough, but FF3 needs this */ 
}
ui|shadow table.matrix {
	width: 100%;
	height: 100%;
}