@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|sourcecodeviewer {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
ui|sourcecodeviewer textarea {
	display: none;
}