@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|tabbox {
	display: block;
	overflow: hidden;
}
ui|tabs {
	display: block;
	position: relative !important;
	overflow: hidden;
}

ui|tab {
	display: block;
	float: left;
	position: relative;
	white-space: nowrap;
}
ui|tabpanels {
	display: block;
	height: 100%;
	clear: both;
	overflow: hidden;
}
ui|tabbox.boxed ui|tabpanels {
	overflow: visible;
	height: auto;
}

ui|tabbox.equalsize ui|tabpanels {
	overflow: hidden;
	height: 100%;
}
ui|tabpanel {  /* styles comparable to deck - please coordinate all changes! */
	display: block;
	height: 100% !important;
	overflow: hidden;
	position: absolute;
	top: -10000px;
}
ui|tabbox.equalsize ui|tabpanel {
	overflow: visible;
	height: auto !important;
}

/* TABMANAGER .................................................................... */

ui|toolbarbutton.tabbutton {
	position: absolute;
	z-index: 400;
	display: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
}
ui|toolbarbutton.tabbutton ui|labeltext {
	font-weight: bold;
}
ui|toolbarbutton.tabbutton ui|labelbox span.arrow {
	font-weight: normal;
	font-size: 120%;
	font-family: "Courier New", monospace;
	position: relative;
	top: -2px;
	left: -2px;
	#ie left: -4px;
}