@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|text,
ui|header {
	display: block;
	-vendor-user-select: none; /* See notes in DocumentManager.js */	
}
ui|text {
	margin: 0 0 1em 0;
}
ui|header {
	font-weight: bold;
}