@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|titlebar {
	display: block;
	font-weight: bold;
	overflow: hidden;
}
ui|titlebarbody {
	display: block;
	position: relative;
}