@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|tree {
	display: block;
	overflow: hidden;
	position: relative;
}
ui|treebody {
	display: block;
	color: $(color:windowtext);
	overflow: auto !important;
	padding-top: 10px;
}
ui|treenode,
ui|treecontent {
	display: block;
	float: none;
	clear: both;
	overflow: visible;
}

ui|treenode ui|labelbox {
	background: none transparent no-repeat 1px 8px;
	padding-left: 16px;
}
ui|treecontent {
	padding-left: 40px;
	-vendor-user-select: none; /* hope we don't need an input field */
}

ui|treenode ui|treenode {
	padding-left: 50px;

}
ui|treenode.closed ui|treenode,
ui|treenode.closed ui|treecontent {
	display: none;
}
ui|treenode ui|labelbox { 
	padding-bottom: 3px;
}

ui|treenode ui|labelbody {
	max-width: none;
}
ui|treenode ui|labeltext {
    line-height: 17px;
	padding: 3px 4px 5px 4px;

}

ui|treepositionindicator {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 140px;
	height: 1px;
	overflow: hidden;
	background-color: $(color:highlight);
	z-index: -1;
}