@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|updatepanel,
ui|updatepanelbody {
	display: block;
	overflow: hidden !important;
}
ui|updatepanel.flex,
ui|updatepanel.flex ui|updatepanelbody {
	height: 100%;
	overflow: hidden !important;
}
ui|updatepanel.inline,
ui|updatepanel.inline ui|updatepanelbody {
	display: inline;
}