@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|viewset {
	display: block;
	position: absolute;
	z-index: 1; /* needed for ie, but why? */
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	overflow: visible;
}
ui|view {
	display: block;
	overflow: hidden;
}
ui|dialogset ui|view {
	z-index: 5; /* above the dialog */
}
ui|view.dockview { /* is this ever assigned? */
	position: absolute;
	z-index: 1;
}
ui|view.dockview ui|window { /* adjusted onload - fixes a moz display glitch */
	position: absolute;
	top: -10000px;
}