@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|wysiwygeditor {
	display: block;
	overflow: hidden;
	position: relative; /* contain the cover */
}
ui|wysiwygeditor textarea,
ui|wysiwygeditor ui|selector,
ui|wysiwygeditor ui|updatepanel {
	display: none;
}