<?xml version="1.0"?>
<configuration>
  
  <system.web>
    <xhtmlConformance mode="Strict"/>
    <trace enabled="false" traceMode="SortByTime" requestLimit="1" writeToDiagnosticsTrace="false" pageOutput="false"/>
    <customErrors mode="Off"/>
    <identity impersonate="false"/>

    <httpModules>
      <clear/>
      <add name="OutputCache" type="System.Web.Caching.OutputCacheModule"/>
      <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule"/>
      <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule"/>
      <add name="FileAuthorization" type="System.Web.Security.FileAuthorizationModule"/>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule"/>
    </httpModules>

    <authorization>
      <allow users="*"/>
    </authorization>

    <httpHandlers>
      <add verb="GET,HEAD" path="*.css.aspx" type="Composite.WebClient.Presentation.CssRequestHandler,Composite"/>
      <!-- ASP.NET Ajax -->
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler" validate="false"/>
    </httpHandlers>

    <webServices>
      <protocols>
        <remove name="HttpPost"/>
      </protocols>
    </webServices>

    <!-- ASP.NET Ajax-->
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions"/>
        <add tagPrefix="aspui" namespace="Composite.WebClient.UiControlLib" assembly="Composite" />
        <add tagPrefix="control" tagName="appinitializer" src="~/Composite/controls/AppInitializerControl.ascx"/>
        <add tagPrefix="control" tagName="httpheaders" src="~/Composite/controls/HttpHeadersControl.ascx"/>
        <add tagPrefix="control" tagName="scriptloader" src="~/Composite/controls/ScriptLoaderControl.ascx"/>
        <add tagPrefix="control" tagName="styleloader" src="~/Composite/controls/StyleLoaderControl.ascx"/>
      </controls>
    </pages>

  </system.web>
  

  <!--<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="XmlFunctionCallsBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="XmlFunctionCallsBehavior" name="XmlFunctionCalls">
        <endpoint address="" binding="wsHttpBinding" contract="IXmlFunctionCalls"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/XmlFunctionCalls/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>-->

</configuration>