@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

div.img {
	padding: 10px;
	float: left;
	text-align: center;
}
div.img span {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
ui|pageheading {
	clear: both;
	margin-left: -10px;
	padding-top: 20px;
	border-bottom: 1px solid $(color:threeddarkshadow);
	padding-bottom: 0;
	margin-bottom: 10px;
}
ui|pageheading:first-letter {
	text-transform: uppercase;	
}