@namespace ui url("http://www.w3.org/1999/xhtml");


/*
 * These declarations for IE are duplicated in "stagedeck.css" 
 */
#region ie
	ui|splitbox {
		width: 100%;
	}
	ui|splitpanel.horizontal {
		width: 100%;
		height: 100%;
	}
#endregion

ui|splitter.horizontal ui|splitterbody,
ui|splitter.vertical ui|splitterbody {
	border: none;
}
ui|stagesplitterbody {
	display: block;
	background-color: $(color:threedface);
	width: 10px;
	height: 10px;
	overflow: hidden;
	position: absolute;
	display: none;
	z-index: 4; /* above views (firefox3 alpha needs them +2 above) */
}
ui|cover.stagesplittercover {
	z-index: 5;	/* above stagesplitterbody */
}
ui|stagesplitterbody.horizontal {
	border-left: 1px solid $(color:threedhighlight);
	border-right: 1px solid $(color:threeddarkshadow);
	-moz-box-shadow: 2px 0 3px rgba(0,0,0,0.35);
	cursor: e-resize;
}
ui|stagesplitterbody.vertical {
	border-top: 1px solid $(color:threedhighlight);
	border-bottom: 1px solid $(color:threeddarkshadow);
	border-left: 1px solid $(color:threedface);
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,0.35);
	cursor: n-resize;
}
ui|window#downloadwindow {
	position: absolute;
	width: 100px;
	height: 100px;
	top: -100px;
	left: -100px;
}







