* {
	cursor: default;
	-moz-box-sizing: border-box;
	-moz-user-select: none;
}
html,
body {
	height: 100%;
}
html {
	background-color: $(color:threedface);
	color: $(color:windowtext);
}
html,
body {
	border: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
body {
	line-height: 1.1em;
	color: #676767;
	font-weight: bold;
	vendor-user-select: none;
	#region default
	 	font-family: Tahoma, sans-serif;
	 	font-size: 11px;
	#endregion
	#region vista
	 	font-family: "Segoe UI", Tahoma, sans-serif;
 		font-size: 12px;
	#endregion
	#region osx
	 	font-family: "Lucida Grande", sans-serif;
 		font-size: 11px;
	#endregion
}
div#composite {
	display: block;
	width: 315px;
	height: 360px;
	position: absolute;
	overflow: hidden;
	top: 40%;
	left: 50%;
	margin-left: -180px;
	margin-top: -157px;
}
div#backdrop {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url("${root}/images/box.png");	
}
div#buzzwords {
	color: #808080;
	position: absolute;	
	top: 0;
	left: 0;
	width: 200px;
	margin-left: 58px;
	height: 180px;
	margin-top: 0px;
	top: 130px;
}
div#start a {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 23px;
	width: 200px; 
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	background-image: url("${root}/images/startcomposite.png");
}
div#start a:hover {
	background-position: 0 -23px;
}
div#start a:active {
	background-position: 0 -46px;
}
div#buzzwords a {
	color: rgb(210,35,42);
	cursor: pointer;
}
div#start a,
div#start a span {
	font-weight: bold;
	cursor: pointer;
}
div#start a span img {
	background-image: url("skins/system/splash/button.png");
}
div#start a img {
	border: none;
	position: absolute;
	left: 0;
	top: 1px;
}
div#start a span {
	position: relative;
	top: 5px;
	#moz top: 4px;
	padding-left: 16px;
	text-transform: uppercase;
	color: rgb(255,255,255);
}