@import url("base.css");
@namespace ui url("http://www.w3.org/1999/xhtml");

.loginpage .cover {
    background-image: url("${root}/images/top-page-cover-bg.jpg");
}

.loginpage .logo {
    width: 138px;
    height: 38px;
    background: url("${root}/images/composite-logo.png") no-repeat 0 0;
    margin: 0 auto 40px auto;
}

.loginpage .buzzwords {
    display: none;
}

.loginpage ui|fielddata {
    border-bottom: solid 1px #ddd;
    margin-bottom: 20px;
    height: 40px;
    padding: 5px 0;
}

    .loginpage ui|fielddata .icon {
        color: #21B980;
        stroke: #21B980;
    }

        .loginpage ui|fielddata .icon svg {
            width: 20px;
            height: 26px;
        }

    .loginpage  ui|fielddata ui|datainput {
        padding: 0;
    }

    .loginpage ui|fielddata ui|box {
        height: 26px;
    }

    .loginpage ui|fielddata input {
        font-size: 16px;
        width: 100%;
        padding: 0 4px 5px 15px;
    }

        .loginpage ui|fielddata input.warning {
            font-weight: normal;
        }


.loginpage ui|datainput ui|box {
    border: none;
}

.loginpage ui|dialogtoolbar {
    margin-top: 30px;
    padding: 0;
    background-color: transparent;
    border: none;
}

.loginpage ui|dialogtoolbar ui|toolbargroup {
    display: none;
}

.loginpage .progressbar {
    position: absolute;
    bottom: 30px;
    width: 100%;
    left: 0;
    text-align: center;
    font-size: 12px;
}

.loginpage .progressbar-msg {
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 80px;
    border-bottom: solid 1px #ccc;
}

.loginpage .progressbar ui|progressbar {
    display: block;
    width: 200px;
    height: 23px;
    margin: 6px auto auto;
    position: relative;
    text-align: right;
    padding-top: 2px;
    padding-right: 5px;
    background: url("${root}/images/progressbar.png");
}

    .loginpage .progressbar ui|progressbar ui|cover {
        background-color: white;
        height: 19px;
        width: 190px;
        margin-left: auto;
        margin-right: 0;
        position: static;
    }
