@namespace ui url("http://www.w3.org/1999/xhtml");

ui|theatre,
ui|theatre * {
	cursor: wait;	
}
ui|theatre {
	display: block;
	position: absolute;
	top: 100%;
	left: 100%;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 4; /* below cover */
	z-index: 6; /* above cover! */
	z-index: 1001; /* above mastercover! */
	background-color: transparent;
}

ui|theatre canvas {
	width: 100%;
	height: 100%;	
}

div#offlinesplash {
	width: 128px;
	height: 128px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -64px;
	z-index: 1;
	text-align: center;
}

div#offlineimage {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
	background: url("images/loading.svg.ashx");
}

div#offlinetext {
    color: #666;
	font-weight: bold;
}

.loginpage ui|fielddata {
    border-bottom: solid 1px #ddd;
    margin-bottom: 10px;
    height: 40px;
    padding: 5px 0;
}

        .loginpage ui|fielddata .icon svg {
            width: 20px;
            height: 26px;
	        margin-left: 2px;
        }

    .loginpage  ui|fielddata ui|datainput {
        padding: 0;
    }

    .loginpage ui|fielddata ui|box {
        height: 26px;
    }

    .loginpage ui|fielddata input {
        font-size: 16px;
        width: 100%;
        padding: 0 4px 5px 15px;
    }

        .loginpage ui|fielddata input.warning {
            font-weight: normal;
        }


.loginpage ui|datainput ui|box {
    border: none;
}

.loginpage ui|dialogtoolbar {
    margin-top: 40px;
    padding: 0;
    background-color: transparent;
    border: none;
}

.loginpage ui|dialogtoolbar ui|toolbargroup {
    display: none;
}


