@import url("default.css");

body * {
    visibility: hidden;
}

body.loaded * {
    visibility: visible;
}
	
div#splash {
	display: none; /* adjusted by script */
	color: #B2B2B2;
	display: block;
	width: 315px;
	height: 360px;
	position: absolute;
	overflow: hidden;
	top: 45%;
	left: 50%;
	margin-left: -180px;
	margin-top: -157px;
}
div#backdrop { /* explorer bug when backdrop directly on div#updated */
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("${root}/images/box.png");
}
div#unsecure {
	position: absolute;
	width: 228px;
	height: 150px;
	left: 30px;
	top: 45px;
	background-color: white;
	padding-left: 28px;
	padding-top: 8px;
	font-weight: normal;
	z-index: 2;
}
div#vignette {
	width: 32px;
	height: 32px;
	position: absolute;
	top: 12px;
	left: -8px;
	background-image: url("${folder}/skins/system/dialogpages/unsecure_32.png");
}
div#head {
	position: relative;
}
h1 {
	font-size: 200%;
	line-height: 1.1em;
	color: #1A171B;
	font-weight: bold;
	position: absolute;
	left: 30px;
}
h1 span {
    margin-left: 0;
}

p {
	color: #676767;
	margin-top: 66px;
	width: 200px;
	line-height: 1.25em;
}
div#start a {
	top: 242px;
	left: 29px;
}

.fade {
   opacity: 0;
   transition: opacity 2s ease-in-out;
   -moz-transition: opacity 2s ease-in-out;
   -webkit-transition: opacity 2s ease-in-out;
}
div#start.active {
   opacity: 1;
}
.fallback {
    visibility: hidden;
}
.fallbackallowed .fallback {
    visibility: visible;
}
