body * {
    visibility: hidden;
}

body.loaded * {
    visibility: visible;
}

.fade {
   opacity: 0;
   transition: opacity 2s ease-in-out;
   -moz-transition: opacity 2s ease-in-out;
   -webkit-transition: opacity 2s ease-in-out;
}
div#start.active {
   opacity: 1;
}
.fallback {
    visibility: hidden;
}
.fallbackallowed .fallback {
    visibility: visible;
}
