@import url("default.css");
	
div#splash {
	color: #B2B2B2;
	display: block;
	width: 315px;
	height: 360px;
	position: absolute;
	overflow: hidden;
	top: 45%;
	left: 50%;
	margin-left: -180px;
	margin-top: -157px;
}
div#backdrop { /* explorer bug when backdrop directly on div#updated */
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url("${root}/images/box.png");
}
div#unsupported {
	position: absolute;
	height: 150px;
	left: 30px;
	top: 25px;
	background-color: white;
	padding-left: 28px;
	padding-top: 20px;
	font-weight: normal;
	z-index: 2;
}
div#vignette {
	width: 32px;
	height: 32px;
	top: 15px;
	left: 5px;
	float: left;
	
}
h1 {
	font-size: 200%;
	line-height: 1.4em;
	color: #1A171B;
	font-weight: bold;
	position: relative;
	background: transparent url("${folder}/skins/system/dialogpages/error_32.png") no-repeat 0 0;
	padding-left: 40px;
	margin-left:-10px;
}
p {
	color: #676767;
	width: 200px;
	line-height: 1.25em;
}
a {
	top: 253px;
	left: 29px;
}