<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="Composite.StartPage.Url" value="http://c1console.composite.net/StartV5"/>
    <add key="Composite.Help.Contents.Url" value="http://c1console.composite.net/Help.aspx"/>
    <add key="Composite.Help.Bookmarks.Url" value="http://c1console.composite.net/Help/Bookmarks.aspx"/>
    <add key="Composite.Help.Search.Url" value="http://c1console.composite.net/Help/Search.aspx"/>
    <add key="Composite.Help.Index.Url" value="http://c1console.composite.net/Help/Index.aspx"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="536870912" maxUrl="20480" maxQueryString="20480" />
      </requestFiltering>
    </security>
  </system.webServer>

  <system.web>
    <browserCaps>
      <use var="HTTP_USER_AGENT"/>

      <case match="MozillaDeveloperPreview" >
        ecmascriptversion=3.0
        javascriptversion=1.8
        browser=Forefox
      </case>
    </browserCaps>
    <xhtmlConformance mode="Strict" />
    <httpRuntime executionTimeout="300" maxQueryStringLength="51200" maxUrlLength="51200" maxRequestLength="524288" requestLengthDiskThreshold="51200" requestValidationMode="2.0" />
    <trace enabled="false" traceMode="SortByTime" requestLimit="1" writeToDiagnosticsTrace="false" pageOutput="false" />
    <compilation optimizeCompilations="true" />
    <customErrors mode="RemoteOnly" />
    <identity impersonate="false" />

    <!-- this ensures that use of Forms authentication on the public site do not break access to the admin side -->
    <!-- Actual authorization is done by http module Composite.Core.WebClient.HttpModules.AdministrativeAuthorizationHttpModule -->
    <authorization>
      <allow users="*" />
    </authorization>

    <!-- IIS6 & IIS7 Classic mode -->
    <httpHandlers>
      <add verb="GET,HEAD" path="*.css.aspx" type="Composite.Core.WebClient.Presentation.CssRequestHandler,Composite" />
    </httpHandlers>

    <webServices>
      <protocols>
        <remove name="HttpPost" />
      </protocols>
    </webServices>

    <!-- ASP.NET Ajax-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" enableViewState="true" viewStateEncryptionMode="Always">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="aspui" namespace="Composite.Core.WebClient.UiControlLib" assembly="Composite" />
        <add tagPrefix="control" tagName="appinitializer" src="~/Composite/controls/AppInitializerControl.ascx" />
        <add tagPrefix="control" tagName="outputtransformation" src="~/Composite/controls/RegisterOutputTransformation.ascx" />
        <add tagPrefix="control" tagName="httpheaders" src="~/Composite/controls/HttpHeadersControl.ascx" />
        <add tagPrefix="control" tagName="styleloader" src="~/Composite/controls/StyleLoaderControl.ascx" />
		<add tagPrefix="control" tagName="brandingSnippet" src="~/Composite/controls/BrandingSnippet.ascx" />
        <add tagPrefix="control" tagName="scriptloader" src="~/Composite/controls/ScriptLoaderControl.ascx" />
        <add tagPrefix="formscontrol" tagName="styleloader" src="~/Composite/controls/FormsControls/Helpers/StyleFileLoaderControl.ascx" />
      </controls>
    </pages>

  </system.web>

  <!-- 
	The system.webServer section is required for running Composite JS and CSS under Internet Information Services 7.0 in integratedMode.  
    It is not necessary for previous version of IIS.
	-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add preCondition="integratedMode" name="Composite CSS Handler" path="*.css.aspx" verb="*" type="Composite.Core.WebClient.Presentation.CssRequestHandler,Composite" resourceType="Unspecified" />
    </handlers>
    <urlCompression dynamicCompressionBeforeCache="false" />
    <staticContent>
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
	  <mimeMap fileExtension=".inc" mimeType="includes/file.mimetypes.inc" />
		
	</staticContent>
  </system.webServer>

  <system.serviceModel>
    <services>
      <service behaviorConfiguration="LoggerServiceBehavior" name="Composite.Core.Logging.WCF.LogService">
        <endpoint address="" behaviorConfiguration="loggerWebBehavior" binding="basicHttpBinding" contract="Composite.Core.Logging.WCF.ILogService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="LoggerServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="loggerWebBehavior">
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
