<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <add key="Composite.StartPage.Url" value="http://c1console.composite.net/c1/startpage.aspx"/>
    <add key="Composite.HelpPage.Url" value="http://c1console.composite.net/Help.aspx"/>
  </appSettings>
  
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="20480" maxQueryString="20480" />
      </requestFiltering>
    </security>
  </system.webServer>
  
  <system.web>
	  <browserCaps>
		  <use var="HTTP_USER_AGENT"/>

		  <case match="MozillaDeveloperPreview" >
			  ecmascriptversion=3.0
			  javascriptversion=1.8
			  browser=Forefox
		  </case>
	  </browserCaps>
    <xhtmlConformance mode="Strict" />
    <httpRuntime executionTimeout="300" maxRequestLength="51200" requestLengthDiskThreshold="51200" requestValidationMode="2.0" />
    <trace enabled="false" traceMode="SortByTime" requestLimit="1" writeToDiagnosticsTrace="false" pageOutput="false" />
    <customErrors mode="Off" />
    <identity impersonate="false" />

    <!-- this ensures that use of Forms authentication on the public site do not break access to the admin side -->
    <!-- Actual authorization is done by http module Composite.WebClient.HttpModules.AdministrativeAuthorizationHttpModule -->
    <authorization>
      <allow users="*" />
    </authorization>

    <!-- IIS6 & IIS7 Classic mode -->
    <httpHandlers>
      <add verb="GET,HEAD" path="*.css.aspx" type="Composite.WebClient.Presentation.CssRequestHandler,Composite" />
      <add verb="GET,HEAD" path="*.js.aspx" type="Composite.WebClient.Presentation.JsRequestHandler,Composite" />
    </httpHandlers>
    
    <webServices>
      <protocols>
        <remove name="HttpPost" />
      </protocols>
    </webServices>

    <!-- ASP.NET Ajax-->
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="aspui" namespace="Composite.WebClient.UiControlLib" assembly="Composite" />
        <add tagPrefix="control" tagName="appinitializer" src="~/Composite/controls/AppInitializerControl.ascx" />
        <add tagPrefix="control" tagName="outputtransformation" src="~/Composite/controls/RegisterOutputTransformation.ascx" />
        <add tagPrefix="formscontrol" tagName="styleloader" src="~/Composite/controls/FormsControls/Helpers/StyleLoaderControl.ascx" />
      </controls>
    </pages>

  </system.web>
  
  <!-- 
		The system.webServer section is required for running Composite JS and CSS under Internet Information Services 7.0 in integratedMode.  
    It is not necessary for previous version of IIS.
	-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add preCondition="integratedMode" name="Composite CSS Handler" path="*.css.aspx" verb="*" type="Composite.WebClient.Presentation.CssRequestHandler,Composite" resourceType="Unspecified" />
      <add preCondition="integratedMode" name="Composite JS Handler" path="*.js.aspx" verb="*" type="Composite.WebClient.Presentation.JsRequestHandler,Composite" resourceType="Unspecified" />
    </handlers>
  </system.webServer>

  <system.serviceModel>
    <services>
      <service behaviorConfiguration="LoggerServiceBehavior" name="Composite.Logging.WCF.LogService">
        <endpoint address="" behaviorConfiguration="loggerWebBehavior" binding="basicHttpBinding" contract="Composite.Logging.WCF.ILogService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="LoggerServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="loggerWebBehavior">
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>