<?xml version="1.0" encoding="utf-8" ?>
<authorization loginPagePath="Login.aspx">
	<!--
		paths shown below are publically available (require no authentication)
		- changes made to this file require asp.net app restart
	-->
	<allow path="templates" />
	<allow path="flash" />
	<allow path="images" />
	<allow path="scripts" />
	<allow path="lib" />
	<allow path="styles" />
	<allow path="skins" />
	<allow path="content/misc/gatekeeper/AllUsersAllowedFiles" />
	<allow path="content/views/start/compositestart" />
	<allow path="content/dialogs/standard" />
	<allow path="services/LogService" />
	<allow path="services/Login/Login.asmx" />
	<allow path="services/Ready/ReadyService.asmx" />
	<allow path="services/Installation/InstallationService.asmx" />
	<allow path="services/Setup/SetupService.asmx" />
	<allow path="services/StringResource/StringService.asmx" />

	<allow path="content/branding" />
	<allow path="grunt.html" />
	<allow path="blank.aspx" />
	<allow path="compile.aspx" />
	<allow path="default.aspx" />
	<allow path="default.css.aspx" />
	<allow path="default.css" />
	<allow path="default.js" />
	<allow path="develop.aspx" />
	<allow path="Login.aspx" />
	<allow path="ping.ashx" />
	<allow path="top.aspx" />
	<allow path="top.css.aspx" />
	<allow path="unknownbrowser.aspx" />
	<allow path="unsecure.aspx" />
	<allow path="unsecure.css.aspx" />
	<allow path="unsecure.js" />
	<allow path="unsupported.aspx" />
	<allow path="unsupported.css.aspx" />
	<allow path="updated.aspx" />
	<allow path="updated.js" />
	<allow path="updated.css.aspx" />
	<allow path="welcome.css.aspx" />
	<allow path="welcome.js" />
	<allow path="welcome.xsl" />
</authorization>
