@import url("base.css");
@namespace ui url("http://www.w3.org/1999/xhtml");

.welcomepage .splash {
    width: 480px;
}


.welcomepage .crumbs {
    font-weight: bold;
}

    .welcomepage .crumbs em {
        font-family: Arial, sans-serif;
        font-size: 10px;
    }

    .welcomepage .crumbs span.selected {
        color: #21B980;
    }

.welcomepage ui|dialogtoolbar {
    padding: 20px 0 0 0;
    margin-top: 15px;
}

.welcomepage .navdecks ui|toolbargroup {
    display: none;
}

.welcomepage .licensetext {
    padding: 10px;
    height: 120px;
    overflow: auto;
    border: 1px solid #ccc;
    font-size: 14px;
}

.welcomepage .setupfields {
    font-size: 14px;
}


p#introtestsuccess,
ui|clickbutton#introtestsuccessbutton {
    visibility: hidden;
}

p#introtestfailure {
    display: none;
}





ul#introtest {
    list-style: none;
    margin: 0 0 1em 0;
    padding: 0;
    line-height: 1.5em;
}

    ul#introtest li {
        padding-left: 20px;
        background-repeat: no-repeat;
        color: #B2B2B2;
    }

        ul#introtest li.on {
            color: black;
        }

        ul#introtest li.ok {
            background-image: url("${root}/services/Icon/GetIcon.ashx?resourceName=accept&resourceNamespace=Composite.Icons");
        }

        ul#introtest li.bad {
            background-image: url("${root}/services/Icon/GetIcon.ashx?resourceName=cancel&resourceNamespace=Composite.Icons");
        }


.welcomepage ui|radio,
.welcomepage ui|checkbox {
    font-weight: bold !important;
}

.welcomepage ui|radio ui|datalabeltext {
    padding-top: 0;
}

.welcomepage ui|radiodatagroup p,
.welcomepage ui|checkboxgroup p {
    padding-left: 25px;
}

.welcomepage ui|checkboxgroup {
    padding-left: 2px;
    margin-top: -11px;
}

.welcomepage ui|checkbutton {
    position: relative;
    left: -1px;
}

.welcomepage div.options {
    padding-left: 25px;
    display: none;
}

    .welcomepage div.options.visible {
        display: block;
    }

form.fields {
    text-align: right;
}

    form.fields div {
        padding-bottom: 4px;
        clear: both;
    }

    form.fields label {
        float: left;
        position: relative;
        top: 6px;
    }

    form.fields input,
    form.fields select {
        width: 170px;
        padding: 5px;
        border: 1px solid #B2B2B2;
    }

    form.fields label.innerlabel {
        float: none;
        position: relative;
        top: 4px;
        top: 0;
    }

    form.fields input.newslettercheckbox {
        padding: 0;
        position: relative;
        #region moz margin-right: 6px;
        top: 2px;
        #endregion vertical-align: bottom;
        width: auto;
    }

    form.fields input:focus,
    form.fields select:focus {
        border-color: black;
    }

    form.fields input.disabled {
        background-color: ThreeDFace;
        color: GrayText;
    }

p#websitehelp,
p#consolehelp {
    padding-bottom: 1em;
    height: 3.5em;
}

p#loginok {
    visibility: hidden;
}

p#lengthbad,
p#loginbad {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}



ui|deck#license form {
    padding-top: 1em;
    position: relative;
    left: -4px;
}

ui|deck#license input {
    position: relative;
    top: 1px;
    cursor: default;
    margin: 3px 3px 3px 4px;
}
