@import url("default/base.css");
@import url("default/updatepanels.css");
@import url("default/texts.css");
@import url("default/labels.css");
@import url("default/dialogs.css");
@import url("default/dialogpages.css");
@import url("default/popups.css");
@import url("default/menus.css");
@import url("default/buttons.css");
@import url("default/matrixes.css");
@import url("default/titlebars.css");
@import url("default/controls.css");
@import url("default/toolbars.css");
@import url("default/tabboxes.css");
@import url("default/splitboxes.css");
@import url("default/decks.css");
@import url("default/trees.css");
@import url("default/docks.css");
@import url("default/pages.css");
@import url("default/views.css");
@import url("default/explorer.css");
@import url("default/rtl.css");

/*
Explorer will reach af max amount of @import statements at 32: see
http://www.juniper.net/security/auto/vulnerabilities/vuln3394.html
*/
@import url("morestyles.css");