$baseFontColor: #333;
$buttonTextColor: #575757;
$borderColor: #ccc;
$buttonDropShadowColor: #ddd;
$buttonHighlightColor: #22B980;
$buttonShadingColor: #1ea371;
$fieldsetBackgroundColor: #F7F7F7;
$fieldsetLegendColor: #22B980;
$fieldFocusColor: #22B980;
$fieldLabelColor: #999;

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400italic');

*:focus {
	outline: 0;
}

body {
	margin: 0;
	height: 100%;
}

body, input, textarea, select, button {
	font-size: 12px;
	font-family: "Segoe UI", Tahoma, sans-serif;
	color: $baseFontColor;
}

div.toolbar {
	padding: 15px 20px;
}

svg { // Icons
	height: 20px;
	width: 20px;
	stroke: currentColor;
	fill: currentColor;
}

button {
	text-transform: uppercase;
	border: 1px solid $borderColor;
	border-radius: 4px;
	background: white;
	color: $buttonTextColor;
	margin: 2px 10px 2px 0;
	padding: 6px 11px;
	line-height: 18px;
	height: 36px;
	box-shadow: 0 2px 2px -2px $buttonDropShadowColor;

	&:hover {
		color: $buttonHighlightColor;
		border-color: $buttonHighlightColor;
	}

	svg {
		display: inline-block;
		padding-right: 10px;
		vertical-align: -6px;
	}
}

div.toolbar.document-toolbar {
	text-align: right; // TODO: Needs better way

	button {
		border: 1px solid $buttonHighlightColor;
		background-image: linear-gradient(to bottom, $buttonHighlightColor 0%, $buttonShadingColor 100%);
		color: white;
	}
}

div.scrollbox {
	border-top: 1px solid $borderColor;
	padding: 30px 30px 0 40px;
	height: calc(100% - 66px);
}

fieldset {
	position: relative;
	border: 1px solid $borderColor;
	border-radius: 4px;
	margin: 0;
	margin-top: 35px;
	padding: 8px 17px 25px;
	width: 394px;
	background-color: $fieldsetBackgroundColor;

	legend {
		position: absolute;
		top: -35px;
		left: 0;
		background: transparent;
		color: $fieldsetLegendColor;
		font-family: 'Roboto Condensed', sans-serif;
		font-style: italic;
		font-size: 14px;
		text-transform: uppercase;
	}
}

.datafield {
	position: relative;

	h4 {
		display: block;
		margin: 0;
		font-weight: normal;
		padding: 8px 0 5px 5px;
		color: $fieldLabelColor;
	}

	input {
		vertical-align: middle;
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 5px;
		padding: 5px 7px;
		margin: 2px 1px 7px 2px;
		background-color: #fff;
		width: calc(100% - 42px);
		height: 20px;
		overflow: hidden;

		&:focus {
			border-color: $fieldFocusColor;
		}

		&[type="checkbox"] {
			position: relative;
			width: 20px;
			-webkit-appearance: none;
			appearance: none;

			&:checked {
				&::after {
					content: "\2713";
					font-size: 14px;
					font-weight: bold;
					color: $fieldFocusColor;
					position: absolute;
					top: -1px;
					left: 4px;
				}
			}
		}
	}

	label {
		display: inline-block;
		padding-left: 10px;
		width: calc(100% - 56px);
	}

	.Select {
		vertical-align: middle;
		display: inline-block;
		width: calc(100% - 26px);
		margin: 2px 1px 4px 2px;

		.Select-placeholder {
			line-height: 30px;
		}

		.Select-input {
			height: 30px;

			input {
				border: 0 none transparent;
				margin: 0;
				padding: 5px 0 9px;
			}
		}

		.Select-control {
			border: 1px solid #ccc;
			border-radius: 5px;
			height: 20px;

			.Select-value {
				line-height: 30px;
				color: $baseFontColor;
			}
		}
		&.is-focused .Select-control {
			border-color: $fieldFocusColor;
		}

		.Select-arrow {
			border: 0 none transparent;
		}
		.Select-arrow:before, .Select-arrow:after {
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
		}
		.Select-arrow:after {
			top: 14px;
			right: 11px;
			border-width: 4px 4px 0 4px;
			border-color: white transparent transparent transparent;
		}
		.Select-arrow:before {
			top: 14px;
			right: 10px;
			border-width: 5px 5px 0 5px;
			border-color: $fieldFocusColor transparent transparent transparent;
		}
		&.is-open {
			.Select-arrow:after {
				top: 15px;
				border-width: 0px 4px 4px 4px;
				border-color: transparent transparent white transparent;
			}
			.Select-arrow:before {
				top: 14px;
				border-width: 0px 5px 5px 5px;
				border-color: transparent transparent $buttonShadingColor transparent;
			}
		}

		.Select-menu-outer {
			position: absolute;
			border: 1px solid $borderColor;
			border-radius: 5px;
			margin: 1px 1px 7px 0;
			background-color: white;
			width: calc(100% - 0px);
			overflow: hidden;

			.Select-option {
				padding: 7px 8px;

				&.is-focused {
					color: inherit;
					background-color: inherit;
				}
				&:hover {
					background-color: $fieldFocusColor;
					color: white;
				}

				.is-selected {
					background-color: inherit;
				}
			}
		}
	}

	.helperIcon{
		position: relative;

		&::after {
			content: "?";
			width: 16px;
			height: 16px;
			color: white;
			position: absolute;
			top: 0px;
			right: -25px;
			background: #CDCDCF;
			border-radius: 8px;
			font-size: 11px;
			text-align: center;
			line-height: 16px;
			font-weight: normal;
			font-family: Verdana;
		}

		.helper {
			position: absolute;
			top: -12px;
			left: calc(100% + 25px);
			width: max-content;
			background-color: #fff;
			box-shadow: 0px 0px 12px -1px rgba(204, 204, 204, 0.75);
			border-radius: 5px;
			border: 1px solid #ccc;
			padding: 10px 12px;
			visibility: hidden;
			opacity: 0;
			transition: opacity 0.2s, visibility 0.2s
		}
	}
}
