/*
 *  This is the default style sheet used in the content editor. 
 *  Content editor has basic styling specified in "../Config/VisualEditor/Styles/core.css"
 * 
 *  You can change what stylesheets are loaded and what buttons, styles etc. are in the visual editor here:
 *
 *      ~/Frontend/Config/VisualEditor/common.xml
 *
 */
 
body,
td {
	font-family: sans-serif;
	font-size: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 20px;
	line-height: 40px;
	margin: 20px 0 0 0;
	padding: 0;
}
h1 {
	font-size: 30px;
}
 
 
*.left {
  float: left;
  margin: 0 22px 10px 0;  
}
*.right {
  float: right;
  margin: 0 0 10px 22px;
}

.textalignleft {
    text-align: left;
}

.textaligncenter {
    text-align: center;
}

.textalignright {
    text-align: right;
}

img.framed {
    border: 1px solid black;
    padding: 3px;
    margin: 3px;
}

img.heavyframed {
    border: 5px solid #444;
    padding: 4px;
    margin: 3px;
}

table.heavy {
	border: 3px solid black;
	border-collapse: collapse;
}

table.heavy td {
	border: 2px solid black;
	padding: 5px;
}

table.heavy thead {
    background-color: #ddd;
}

table.heavy tr.sum {
    background-color: #933;
}

table.heavy tr.sum td.total {
    background-color: #000;
    color: #eee;
}

table tr.sum {
    background-color: #eee;
}

table tr.sum td.total {
    background-color: #fee;
}

table.light {
	border: 1px solid #ddd;
	border-collapse: collapse;
	padding: 5px;
}

table.light td {
	border: 1px solid #eee;
	padding: 5px;
}

p.note
{
  font-size: smaller;
  padding: 10px;
  background-color: #ffc;
  border: 1px solid #884;
}

div.well {
	padding: 19px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

/*div.two-columns {
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
}

div.three-columns {
	column-count: 3;
	-moz-column-count: 3;
	-webkit-column-count: 3;
}*/

aside.fancy {
	/*width: 200px;
	float: right;
	margin-left: 10px;*/
	font-size: smaller;
	padding: 10px;
	background-color: #ffc;
	border: 1px solid #884;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
