.document-toolbar {
    padding: 0 10px 0 10px;
    position: relative;
    top: 15px;
    z-index: 5;

    + ui|scrollbox {
        margin-top: 35px;
        border-top: solid 1px @base-border-color;
    }

    + ui|sourceeditor {
       top: -30px;
    }
}
