.document-toolbar {
    padding: 15px 10px 0 10px;

    + ui|scrollbox {
        margin-top: 15px;
        border-top: solid 1px @base-border-color;
    }

    + ui|sourceeditor {
       // margin-top: -15px;
    }
}
