@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|tabbox ui|tabpanel {
	background-color: white;
}
 ui|tab table.matrix {
	width: 189px;
}
ui|tab ui|labeltext {
	width: 110px;
	overflow: hidden;
	#ie text-overflow: ellipsis;
}
ui|tab ui|labelbox  {
	position: relative;
	overflow: visible;
}
ui|tab ui|labelbox img {
	position: absolute;
	margin-top: 2px;
	right: -42px;
}
ui|tab ui|labelbox img {
	visibility: hidden;
}
ui|tab.selected ui|labelbox img,
ui|tab.hover ui|labelbox img {
	visibility: visible;	
}
ui|tab.hover ui|labelbox img {
	margin-top: 0;
}
ui|datainput#addressbar {
	float: left;
}
ui|datainput#addressbar ui|box {
	height: 27px;
}
ui|datainput#addressbar input {
	width: 100%;
	height: 100%;
	padding-top: 5px;
	#ie padding-top: 4px;
	padding-left: 5px;
}

ui|cover#blocker {
	cursor: pointer !important;		
}

div#message {
	padding: 22px;
}
div#icon {
	width: 32px;
	height: 32px;
	#alphabackdrop: url("${root}/services/Icon/GetIcon.ashx?resourceName=message&resourceNamespace=Composite.Icons&size=xlarge");
	float: left;
	position: relative;
	top: 2px;
}
div#text {
	padding-left: 44px;
	-moz-user-select: none;
	padding-top: 8px;
}