@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|toolbar#navbar ui|toolbarbutton.hover,
ui|toolbar#navbar ui|toolbarbutton.active {
    background: #fff;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    filter: none;
    color: #21B980;
    border-color: #21B980;
}

ui|tabbox ui|tabpanel {
    background-color: white;
}

ui|tab ui|labeltext {
    width: 110px;
    overflow: hidden;
}

ui|tab ui|labelbox {
    position: relative;
    overflow: visible;
}

    ui|tab ui|labelbox img {
        position: absolute;
        margin-top: 2px;
        right: -42px;
    }

    ui|tab ui|labelbox img {
        visibility: hidden;
    }

ui|tab.selected ui|labelbox img,
ui|tab.hover ui|labelbox img {
    visibility: visible;
}

ui|tab.hover ui|labelbox img {
    margin-top: 0;
}

ui|datainput#addressbar {
    float: left;
    margin-top: 2px;
    padding: 0;
}


    ui|datainput#addressbar input {
        width: 100%;
        height: 100%;
        padding-top: 2px;
        padding-left: 5px;
    }

ui|cover#blocker {
    cursor: pointer !important;
}

div#message {
    padding: 22px;
}

div#text {
    padding-left: 44px;
    -moz-user-select: none;
    padding-top: 8px;
}

#deviceframeoverlay {
    position: absolute;
    top: 50px;
    left: 50%;
    background: transparent;
    cursor: pointer;
    cursor: url('/Composite/images/touch-cursor.png') 16 16, pointer;
    overflow: hidden;
}


ui|toolbar#breadcrumbbar {
	padding: 0;
}

ui|path {
	width: 100%;
	float: left;
	border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #ffffff;
    height: 32px;
    overflow: hidden;
	margin: 2px 0 0 0;

}

ui|path ui|toolbarbutton {
	border: 0;
	text-transform: none;
}

ui|path ui|toolbarbutton.isdisabled {
	opacity: 1;
}

ui|path ui|toolbarbutton + ui|toolbarbutton:before {
	content: "/";
	display: block;
	position: absolute;
	color: #DDDDDD;
	left: 0px;
	top: 6px;
}

ui|path ui|toolbarbutton ui|labelbox {
    padding: 6px 1px 6px 7px;
}