@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

div#startinfo {
	position: absolute;
	right: 60px;
	bottom: 50px;
	padding-bottom: 23px;
}
table {
	margin-bottom: 16px;
	margin-right: 30px;
}
td {
	color: $(color:threeddarkshadow);
	padding-left: 8px;
	-moz-user-select: none;
}
td.index {
	color: $(color:threedshadow);
}
div#logo {
	width: 81px;
	height: 23px;
	position: absolute;
	right: 0;
	bottom: 0;
	#alphabackdrop: url("${root}/images/logo.png");
}