@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

ui|selector {
    margin-right: 10px;
}

ui|selector ui|clickbutton ui|labelbox {
    width: 140px;
    height: 31px;
}

ui|checkbox {
    padding-top: 7px;
    
}

ui|scrollbox#scrollbox {
	background-color: white !important;
	overflow: scroll !important;
	height: 100%;
	width: 100%;
}
ui|scrollbox#scrollbox table {
	border-collapse: collapse;
	width: 100%;
}
ui|scrollbox#scrollbox td, th {
	padding: 5px;
	white-space: nowrap;
}
ui|scrollbox#scrollbox td {
	border: 1px solid #ddd;
	vertical-align: top;
	cursor: text;
}
ui|scrollbox#scrollbox th {
	text-align: left;
	font-weight: bold;
	background-color: #eeeeee;
}
pre 
{
	padding: 0;
	margin: 0;
	cursor: text;
}

div#emptylabel {
	padding: 1em;
	border-top: 1px solid #ddd;
}

div#logentriesremovedlabel {
	padding: 1em;
	border-top: 1px solid #ddd;
}

#toolbar datalabeltext {
    width: auto;
    margin-right: 15px;
}

#toolbar checkbutton {
    margin-top: 1px;
}

            
a.expandCode {
    display: block;
    width: 200px;
    font-weight: bold;
    text-align: center; 
    border: 1px solid #ddd;
    color: #ddd;
    margin-left: 20px;
}            

a.expandCode:hover {
    background-color: #EEE;
}