/*
    Consider NOT changing this file.

    This is fallback styling, ensuring the visual editor content look ok.
    Consider editing the configuration (../common.xml) and include your own stylesheets, targeting content.
*/
html,
body {
	margin: 0;
	padding: 0;
	border: none;
	background-color: #FFF;
	height: 100%; 
	box-sizing: border-box;
}
body {
	padding: 22px 10% 30px 26px;
	padding-right: 10%;
	line-height: 20px;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child, 
h6:first-child {
	margin-top: 0;
}
ul,
ol {
	margin-top: 0;
	margin-bottom: 20px;	
}
p,
h1,
table {
	margin: 0 0 20px 0;
}
td {
	padding: 2px 5px 3px 5px;
	vertical-align: top;
}
a {
	color: blue;
	text-decoration: underline;
}

img.mceC1Focused {
	outline: 1px solid blue;
}
body.mceForceColors {
	background:#FFF; color:#000;
}

img {
	border:0;
}
table {
	cursor:default
}
table td, table th {
	cursor:text
}
ins {
	border-bottom:1px solid green;
	text-decoration: none;
	color:green;
}
del {
	color:red; 
	text-decoration:line-through;
}
cite {
	border-bottom:1px dashed blue;
}
acronym {
	border-bottom:1px dotted #CCC; cursor:help;
}
abbr, html\:abbr {
	border-bottom:1px dashed #CCC; cursor:help;
}

img.compositeFieldReferenceWysiwygRepresentation, img.compositeFunctionWysiwygRepresentation, img.compositeHtmlWysiwygRepresentation {
  margin: 0px; padding: 0px;
}