<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="Composite.Data.Plugins.XmlDataProviderConfiguration" type="Composite.Plugins.Data.DataProviders.XmlDataProvider.XmlDataProviderConfigurationSection,Composite" />
    </configSections>

	<Composite.Data.Plugins.XmlDataProviderConfiguration>
		<Interfaces>
			<add interfaceType="Composite.Data.Types.IXhtmlEditorElementClassConfiguration,Composite"
			  isGeneratedType="false">
				<Stores>
					<add dataScope="administrated" cultureName="" filename="VisualEditor.Config.xml"
					  elementName="ClassConfiguration" />
				</Stores>
				<DataIdProperties>
					<add name="ConfigurationName" type="System.String, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
					<add name="ElementName" type="System.String, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
					<add name="ClassName" type="System.String, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
				</DataIdProperties>
			</add>
		</Interfaces>
	</Composite.Data.Plugins.XmlDataProviderConfiguration>
</configuration>