@namespace url("http://www.w3.org/1999/xhtml");
@namespace ui url("http://www.w3.org/1999/xhtml");

span.seoresult {
	display: block;
	float: left;
	position: relative;
	margin-right: 8px;
	border: 1px solid #DDDDDD;

}

span.seoresult span {
	width: 7px;
	height: 8px;
	display: block;
	float: left;		
}
span.seoresult span.true {
	background-color: #21B980;
}
span.seoresult span.false {
	background-color: #fff;
}

/* message ........................................................ */

div#message {
	padding: 22px;
}
div#icon {
	width: 32px;
	height: 32px;
	float: left;
	position: relative;
	top: 2px;
	color: #5FC0DC;
}
div#text {
	padding-left: 44px;
	-moz-user-select: none;
}
div#desc {
	clear: both;
	padding-top: 10px;
	color: graytext;
}
img#warning {
	padding-right: 3px;	
}




/* result table*/
table.resulttable {
	background: #EFEFEF;
	border: 1px solid #D4D4D4;
}

table.resulttable ui|toolbarbutton {
    margin-left: 10px;
}




table.resulttable ui|datainput {
	float: left;
}

table.resulttable thead th {
	height: 50px;
	white-space: nowrap;
	padding: 10px 35px 10px 10px;
	text-align: left;
	background: #F7F7F7;
	font-weight: normal;
	font-size: 14px;
	color: #000;

}

table.resulttable thead th:first-of-type > div{
	width: 250px;

}

table.resulttable thead th:last-child {
	width: 100%;
}
table.resulttable tbody td {
	position: relative;
	height: 30px;
	border-top: 1px solid #ccc;
	text-transform: capitalize;
	font-size: 14px;
	color: #000;
}

table.resulttable tbody td.true:after {
	position: absolute;
	content: "";
	top: 5px;
	left: 12px;
	width: 14px;
	height: 7px;
	border: 1px solid #22B980;
	border-width: 0 0 1px 1px;
	transform:rotate(-40deg);
}


table.resulttable tbody td.false:after {
	position: absolute;
	content: '×';
	top: 4px;
	left: 10px;
	width: 15px;
	height: 15px;
	color: #EA6458;
    width: 15px;
    height: 15px;
	line-height: 15px;
    font-size: 24px;
    font-weight: bold;
}

table.resulttable tbody td.score {
	padding-left: 30px;
	width: 90px;
}

.resulttable td ui|clickbutton ui|labelbox.imageonly {
    background: none;
    border: none;
    color: #575757;
}

.resulttable td ui|clickbutton.hover ui|labelbox.imageonly {
    color: #22b980;
}