/* This file contains the CSS data for the editable area(iframe) of TinyMCE */
/* You can extend this CSS by adding your own CSS file with the the content_css option */

html {
	margin: 0;
	padding: 0;
	border: none;
}
img.compositemediaflash,
img.compositemediaquicktime,
img.compositemediashockwave,
img.compositemediawinmedia,
img.compositemediageneric {
	background: none $(color:infobackground) no-repeat 50% 50%;
	border: 1px dotted red;
}
img.compositemediaflash {
	background-image: url("../../../plugins/compositemedia/images/flash.gif");	
}
img.compositemediaquicktime {
	background-image: url("../../../plugins/compositemedia/images/quicktime.gif");	
}
img.compositemediashockwave {
	background-image: url("../../../plugins/compositemedia/images/shockwave.gif");	
}
img.compositemediawinmedia {
	background-image: url("../../../plugins/compositemedia/images/windowsmedia.gif");	
}
img.compositemediageneric {
	background-image: url("../../../plugins/compositemedia/images/generic.gif");	
}
.mceVisualAid {
	border: 1px dashed #BBBBBB !important;
}
div.mceVisualAid {
	background-image:url('../images/spacer.gif');
	visibility: visible !important;
}
.mceItemAnchor {
	width: 12px;
	line-height: 6px;
	overflow: hidden;
	padding-left: 12px;
	background-image: url('../images/anchor_symbol.gif');
	background-position: bottom;
	background-repeat: no-repeat;
}