@inherits RazorFunction
@using Composite.Forms.FormBuilder

@functions {
    public override string FunctionDescription
    {
        get  { return "An example of a PreSubmit form handler"; }
    }
}

@{
    var formContext = FormHelper.GetFormContext();
    if (formContext == null)
    {
        return;
    }

    string returnUrl;
    formContext.PostponeSubmit(out returnUrl);
}

<div>
    Click <a href="@returnUrl">here</a> to continue...
</div>